{% extends 'dashboard/products/prod_base.html' %}
{% load static %}

{% block body %}
    <input type="hidden" id="owner" value="{{ request.user.pk }}">
   

        <div class="modal" id="addItem" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <input id="adj_item_search" autocomplete="off" placeholder="query" class="form-control" type="text">

                    </div>

                    <div class="modal-body" style="height: 50vh">
                        <div id="searchRes" class="h-100 w-100">

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-sm btn-warning">CLOSE</button>
                    </div>

                </div>
            </div>
        </div>

        
            <div class="card-header">


            </div>
            <div class="panel-sub-heading">
                <div class="w-100 container-fluid">
                    <div class="w-100 row">
                        <div class="col-sm-3">
                            <label class="w-100">Entry NO <br>
                                <input type="text" id="ent_num" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">From  <br>
                                <input type="text" id="fr_loc" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">TO  <br>
                                <input type="text" id="to_loc" disabled class="anton-form-tool">
                            </label>
                        </div>

                        <div class="col-sm-3">
{#                            <label for="taxable" class="w-100">Taxable ?</label><select name="taxable" id="taxable" class="anton-select-tool">#}
{#                                <option value="1">YES</option>#}
{#                                <option value="0">NO</option>#}
{#                            </select>#}
                        </div>

                        <div class="col-sm-3">
                            <label class="w-100">Remark
                                <textarea disabled id="remarks" class="anton-form-tool w-100" cols="30" rows="5"></textarea>
                            </label>
                        </div>

                        <input type="hidden" id="owner" value="{{ user.pk }}">

                    </div>
                </div>
            </div>

            <div class="card-body p-2" style="overflow: hidden;">
                <div class="w-100 h-100" style="overflow: auto">
                    <table class="table table-bordered table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th>LINE</th>
                                <th>BARCODE</th>
                                <th>DESCRIPTION</th>
                                <th>PACK</th>
                                <th>PACK QTY</th>
                                <th>TRAN QTY</th>
                                <th>UNIT COST</th>
                                <th>TOTAL COST</th>
                            </tr>
                        </thead>
                        <tbody id="tBody">

                        </tbody>
                    </table>
                </div>
            </div>

    <script>
        function viewTransfer(pk){
            // get transfer
            let payload = {
                module:'transfer',
                data:{
                    'pk':pk
                }
            }

            let transfer = api.call('VIEW',payload,'/inventory/api/')
            if(anton.IsRequest(transfer)){
                kasa.success("Lets Go")
            } else {
                kasa.response(transfer)
            }
        }
        $(document).ready(function(){
            viewTransfer(`{{ last_transfer }}`)
        });
    </script>


{% endblock %}

