{% extends 'dashboard/products/prod_base.html' %}
{% load static %}

{% block body %}
    <input type="hidden" id="owner" value="{{ request.user.pk }}">
   

        <div class="modal" id="addItem" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <input id="adj_item_search" autocomplete="off" placeholder="query" class="form-control" type="text">

                    </div>

                    <div class="modal-body" style="height: 50vh">
                        <div id="searchRes" class="h-100 w-100">

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-sm btn-warning">CLOSE</button>
                    </div>

                </div>
            </div>
        </div>

        
            <div class="card-header">

                <div class="w-100 d-flex flex-wrap">
                    <div class="w-50"></div>
                    <div class="w-50 d-flex flex-wrap justify-content-end">
                        <button class="btn btn-success rounded_c"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-info rounded_c"><i class="fa fa-fast-backward"></i></button>
                        <button class="btn btn-info rounded_c"><i class="fa fa-fast-forward"></i></button>
                    </div>
                </div>

            </div>
            <div class="panel-sub-heading">
                <div class="w-100 container-fluid">
                    <div class="w-100 row">
                        <div class="col-sm-3">
                            <label class="w-100">Entry NO <br>
                                <input type="text" id="entry_no" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">From  <br>
                                <input type="text" id="from" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">TO  <br>
                                <input type="text" id="to" disabled class="anton-form-tool">
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="w-100">Created By
                                <input type="text" id="created_by" disabled class="anton-form-tool">
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="w-100">Remark
                                <textarea disabled id="remarks" class="anton-form-tool w-100" cols="30" rows="5"></textarea>
                            </label>
                        </div>



                    </div>
                </div>
            </div>

            <div class="card-body p-2" style="overflow: hidden;">
                <div class="w-100 h-100" style="overflow: auto">
                    <table class="table table-bordered table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th>LINE</th>
                                <th>BARCODE</th>
                                <th>DESCRIPTION</th>
                                <th>PACK</th>
                                <th>PACK QTY</th>
                                <th>TRAN QTY</th>
                                <th>UNIT COST</th>
                                <th>TOTAL COST</th>
                            </tr>
                        </thead>
                        <tbody id="tBody">

                        </tbody>
                    </table>
                </div>
            </div>

    <script>
        function viewTransfer(pk){
            // get transfer
            let payload = {
                module:'transfer',
                data:{
                    'pk':pk
                }
            }

            let transfer = api.call('VIEW',payload,'/inventory/api/')
            if(anton.IsRequest(transfer)){

                let data = transfer['message'][0]
                let header = data['header'];
                anton.setValues(header)
                let trans = data['transactions']
                let rows = ""
                for(let t = 0; t < trans.length; t++){
                    let row = trans[t]
                    let prod = row['product'];
                    console.table(row)
                    rows += `
                        <tr>
                            <td>${row['line']}</td>
                            <td>${prod['barcode']}</td>
                            <td>${prod['name']}</td>
                            <td>${row['packing']}</td>
                            <td>${row['pack_qty']}</td>
                            <td>${row['tran_qty']}</td>
                            <td>${row['un_cost']}</td>
                            <td>${row['cost']}</td>
                        </tr>
                    `
                }
                console.log(rows)

                $('#tBody').html(rows)
                {#console.table(trans)#}
            } else {
                kasa.response(transfer)
            }
        }
        $(document).ready(function(){
            viewTransfer(`{{ last_transfer }}`)
        });
    </script>


{% endblock %}

