{% extends 'dashboard/products/prod_base.html' %}
{% load static %}

{% block body %}
    <input type="hidden" id="owner" value="{{ request.user.pk }}">


        <div class="modal" id="addItem" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <input id="adj_item_search" autocomplete="off" placeholder="query" class="form-control" type="text">

                    </div>

                    <div class="modal-body" style="height: 50vh">
                        <div id="searchRes" class="h-100 w-100">

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-sm btn-warning">CLOSE</button>
                    </div>

                </div>
            </div>
        </div>

        
            <div class="card-header">

                <div class="w-100 d-flex flex-wrap">
                    <div class="w-50">
                        <button onclick="grn.SaveNew()" type="button" data-toggle="modal"  class="btn btn-success btn-sm">SAVE</button>
                        <button  type="button" data-toggle="modal" data-target="#addItem" class="btn btn-warning btn-sm">INSERT ROW</button>
                    </div>

                    <div class="w-50 d-flex flex-wrap justify-content-end">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#po">RETIRE PO</button>
                    </div>
                </div>




            </div>
            <div class="panel-sub-heading">
                <div class="w-100 container-fluid">
                    <div class="w-100 row">
                        <div class="col-sm-3">
                            <label class="w-100">Entry NO <br>
                                <input type="text" id="ent_num" value="AUTO" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Supplier <br>
                                <select name="supplier" id="supplier" class="anton-select-tool">
                                    <option  value="none" selected>Select Supplier</option>
                                    {% for sup in suppliers %}
                                        <option value="{{ sup.pk }}">{{ sup.company }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label class="w-100">Location <br>
                                <select name="loc" id="loc" class="anton-select-tool">
                                    <option value="none"  selected>Select Location</option>
                                    {% for loc in locs %}
                                        <option value="{{ loc.pk }}">{{ loc.code }} - {{ loc.descr }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <!-- TYPE -->
                            <label for="type" class="">Type : </label> <br> <input readonly type="text" id="type" value="direct" class="anton-form-tool"><br>
                            <!-- REFERENCE -->
                            <label for="type">Ref : </label> <br> <input readonly type="text" id="ref" value="direct" class="anton-form-tool"><br>
                            <label for="taxable" class="w-">Taxable : </label> <br> <select required name="taxable" id="taxable" class="anton-select-tool">

                            </select>
                        </div>

                        <div class="col-sm-3">
                            <div class="w-100 h-100 d-flex flex-wrap align-content-center justify-content-center">

                                <label class="w-100">Taxable Amount <br>
                                    <input type="text" id="invoice_amt" disabled class="anton-form-tool">
                                </label>
                                <label class="w-100">Tax Amount<br>
                                    <input type="text" id="tax_amt" disabled class="anton-form-tool">
                                </label>
                                <label class="w-100">Total Amount<br>
                                    <input type="text" id="tot_amt" disabled class="anton-form-tool">
                                </label>
                                <div class="modal fade" id="po">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong class="modal-title">Select A PO</strong>
                                            </div>
                                            <div class="modal-body overflow-auto" style="height: 25vh">
                                                {% if po.count > 0 %}
                                                    <table class="table table-sm table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Entry</th><th>Location</th><th>Supplier</th><th>Invoice Amt</th>
                                                                <th>Tax Amount</th>
                                                                <th>Net Amount</th>
                                                                <th>Action</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            {% for p in po %}
                                                            <tr>
                                                                <td>PO{{ p.loc.code }}{{ p.pk }}</td>
                                                                <td>{{ p.loc.descr }}</td>
                                                                <td>{{ p.supplier.company }}</td>
                                                                <td>{{ p.total_amt }}</td>
                                                                <td>{{ p.tax_amt.tax_amt }}</td>
                                                                <td>{{ p.new_amt }}</td>
                                                                <th><button type="button" onclick="grn.retrievePo({{ p.pk }})" class="btn btn-sm btn-info">Load</button></th>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <div class="w-100 h-100 d-flex flex-wrap justify-content-center align-content-center">
                                                        <div class="alert alert-info">
                                                            NO PENDING PO ENTRY
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="w-100 mb-2">Remark
                                <textarea id="remark" class="anton-form-tool w-100" cols="30" rows="3"></textarea>
                            </label>
                            <input type="file" class="form-control" id="image-input">

                        </div>



                    </div>
                </div>
            </div>

            <div class="card-body" style="overflow: hidden; height: 50vh">
                <div class="w-100 h-100" style="overflow: auto">
                    <table class="table table-bordered table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th>line</th>
                                <th>barcode</th>
                                <th>descr</th>
                                <th>packing</th>
                                <th>pack_qty</th>
                                <th>tan_qty</th>
                                <th>un_cost</th>
                                <th>tot_cost</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>
            </div>




{% endblock %}

