/static/blog/asssets/article/
/static/general/videos/
/community/migrations/
/stream/migrations/
/blog/migrations/
/admin_panel/migrations/
static/general/docs/bb98b1d0b523d5e783f931550d7702b6.pdf
static/general/img/products/tuto1.pdf
tuto1.pdf
/api/migrations/
/meeting/migrations/
*.pdf
/venv/
/inventory/migrations/
/static/files/
/dolphine/migrations/
/cmms/migrations/
*/migrations
*/__pycache__
.mp4

/static/general/uploads/
/static/general/tmp/
/static/general/task-reports/
/static/general/scss/
/static/general/article_images/
/static/general/bolt_price_changes/
/static/general/crm-logs-reports/
/static/general/clerks/
/static/general/bolt/
/static/general/docs/
/static/general/rmbg/
/retail/__pycache__/
