/static/blog/asssets/article/
/static/general/videos/
/community/migrations/
/stream/migrations/
/blog/migrations/
/admin_panel/migrations/
static/general/docs/bb98b1d0b523d5e783f931550d7702b6.pdf
static/general/img/products/tuto1.pdf
tuto1.pdf
/api/migrations/
/meeting/migrations/
/inventory/migrations/
*.pdf
/venv/
/admin_panel/migrations/
/blog/migrations/
/community/migrations/
/inventory/migrations/
/meeting/migrations/
/stream/migrations/
/static/files/
/dolphine/migrations/
/cmms/migrations/
/appscenter/migrations/
/static/appversion/
