adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==3.0.0
aiofiles==0.8.0
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosignal==1.2.0
aiosmb==0.2.50
aiosqlite==0.17.0
aiowinreg==0.0.7
ajpy==0.0.4
alembic==1.7.6.dev0
altgraph==0.17.2
aniso8601==9.0.1
anyio==3.6.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
APScheduler==3.9.1
asciitree==0.3.3
asgiref==3.5.0
asn1crypto==1.5.1
async-timeout==4.0.1
asysocks==0.1.2
autobahn==22.1.1
backcall==0.2.0
backoff==1.11.1
base58==1.0.3
basemap==1.2.1
bidict==0.21.3
binwalk==2.3.3
blinker==1.4
bluepy==1.3.0
boltons==21.0.0
bottle==0.12.21
cairocffi==1.3.0
canonicaljson==1.6.2
catfish==4.16.3
censys==2.0.9
cffi==1.15.0
cheroot==8.6.0+ds1
cherrypy-cors==1.6
chrome-gnome-shell==0.0.0
cli-helpers==2.2.1
click-plugins==1.1.1
commonmark==0.9.1
configobj==5.0.6
crackmapexec==5.2.2
crit==3.17.1
cupshelpers==1.0
cycler==0.11.0
dataclasses-json==0.5.7
debtags==2.1
defusedxml==0.7.1
deprecation==2.0.7
dicttoxml==1.7.4
distlib==0.3.5
distro==1.7.0
Django==3.2.13
dnslib==0.9.19
dnspython==2.2.1
docopt==0.6.2
donut-shellcode==0.9.3
dropbox==11.30.0
dsinternals==1.2.4
ecdsa==0.18.0b2
email-validator==1.1.2
et-xmlfile==1.0.1
ExifRead==3.0.0
faraday-agent-parameters-types==1.0.3
faraday-client==1.1.0
faraday-plugins==1.5.9
faradaysec==3.19.0
fastapi==0.74.1
feedparser==6.0.8
fierce==1.5.0
filedepot==0.5.2
filelock==3.7.1
filteralchemy==0.1.0
flasgger==0.9.5
Flask-Classful==0.14.1
Flask-KVSession-fork==0.6.3
Flask-Limiter==1.0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Security-Too==4.0.0
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==2.0.6+dfsg1.1
fonttools==4.32.0
frozendict==1.2
fs==2.4.16
future==0.18.2
GDAL==3.5.0
geoip2==2.9.0
geojson==2.5.0
gitdb==4.0.9
GitPython==3.1.27
gpg==1.17.1
graphene==2.1.9
graphene-sqlalchemy==2.1.2
graphql-core==2.2.1
graphql-relay==2.0.1
h11==0.13.0
h2==4.1.0
hashID==3.1.4
hpack==4.0.0
html2text==2020.1.16
httpagentparser==1.9.1
humanize==0.0.0
hupper==1.10.3
hyperframe==6.0.0
icalendar==4.0.3
ijson==3.1.4
impacket==0.10.0
iniconfig==1.1.1
invoke==1.7.0
iptools==0.6.1
ipwhois==0.15.1
IPy==1.1
ipython==7.31.1
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.7.0
jdcal==1.0
jedi==0.18.0
jq==1.2.1
kaitaistruct==0.9
kali-tweaks==2022.3.0
KismetCaptureBtGeiger==2021.7.1
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2020.10.1
KismetCaptureRtladsb==2020.10.1
KismetCaptureRtlamr==2020.10.1
ldapdomaindump==0.9.3
lightdm-gtk-greeter-settings==1.2.2
limiter==0.1.2
limits==1.5.1
louis==3.22.0
lsassy==3.1.1
macholib==1.16
Mako==1.1.3
Markdown==3.3.7
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.28.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
matrix-common==1.2.1
matrix-synapse==1.61.1
matrix-synapse-ldap3==0.1.4
mechanize==0.4.8
minidump==0.0.21
minikerberos==0.2.14
mistune0==0.8.4
mitmproxy==8.1.1
mnemonic==0.19
mpmath==0.0.0
msldap==0.3.30
mypy-extensions==0.4.3
mysql-connector==2.2.9
nassl==4.0.2
neo4j==1.7.0.dev0
neobolt==1.7.17
neotime==1.7.4
networkx==2.6.3
nplusone==1.0.0
ntlm-auth==1.4.0
numpy~=1.22.4
odfpy==1.4.2
openpyxl==3.0.9
paramiko==2.10.4
parso==0.8.1
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
patator==0.9
pefile==2022.5.30
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.4.1
pgspecial==1.11.10
pickleshare==0.7.5
pipreqs==0.4.11
plaster==1.0
plaster-pastedeploy==0.5
platformdirs==2.5.2
pluggy==1.0.0
pluginbase==1.0.1
ply==3.11
portend==3.1.0
prettytable==2.5.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.30
ptyprocess==0.7.0
publicsuffix2==2.20191221
publicsuffixlist==0.7.10
py==1.10.0
pycparser==2.21
pycryptodomex==3.11.0
pycurl==7.44.1
pydantic==1.9.0
PyDispatcher==2.0.5
pydot==1.4.2
pyee==9.0.4
pyExploitDb==0.2.0
pyfiglet==0.8.post0
pygexf==0.2.2
Pygments==2.11.2
pyinotify==0.9.6
PyInstaller==3.5+498e6ee058
pylnk3==0.4.2
pymacaroons==0.13.0
pyminifier==2.1
PyMySQL==1.0.2
pyotp==2.3.0
PyPDF2==2.4.2
pyperclip==1.8.2
pypng==0.0.20
pyppeteer==0.2.5
pypsrp==0.5.0
pypykatz==0.4.9
PyQRCode==1.2.1
PyQt5==5.15.6
pyqtgraph==0.12.4
pyramid==2.0
pyserial==3.5
pyShodan==0.2.3
pyshp==2.3.0
pysmi==0.3.2
pysnmp==4.4.12
PySocks==1.7.1
pyspnego==0.1.5
pytest==6.2.5
python-apt==2.3.0+b2
python-dateutil==2.8.1
python-debian==0.1.46
python-docx==0.8.11
python-dotenv==0.20.0
python-engineio==4.0.0
python-magic==0.4.26
python-nmap==0.7.1
python-pam==2.0.2
python-pptx==0.6.18
python-socketio==5.0.3
PyTrie==0.4.0
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyVNC==0.1
pywerview==0.3.2
pyxdg==0.27
qrcode==7.3.1
Quamash==0.6.1
redis==3.5.3
repoze.lru==0.7
requests-file==1.5.1
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
responses==0.18.0
retrying==1.3.3
rich==12.4.4
Routes==2.5.1
rq==1.10.1
ruamel.yaml==0.17.16
rule-engine==1.1.0
Rx==3.2.0
scapy==2.4.4
scipy==1.7.3
secure==0.3.0
selenium==4.0.0a1
sgmllib3k==1.0.0
signedjson==1.1.1
simplekv==0.13.0
six==1.16.0
slowapi==0.1.4
smmap==5.0.0
smoke-zephyr==2.0.1
sniffio==1.2.0
speaklater==1.4
spyse-python==2.2.3
SQLAlchemy==1.4.31
sqlalchemy-schemadisplay==1.3
SQLAlchemy-Utc==0.11.0
sqlparse==0.4.2
sslyze==5.0.5
starlette==0.18.0
stone==3.3.1
sympy==1.10.1
syslog-rfc5424-formatter==1.2.2
systemd-python==234
tables==3.7.0
tabulate==0.8.9
Tempita==0.5.2
tempora==5.0.1
termcolor==1.1.0
terminaltables==3.1.0
texttable==1.6.4
theHarvester==4.0.3
tld==0.11.11
tls-parser==1.2.2
token-bucket==0.3.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
translationstring==1.4
treq==22.2.0
txaio==21.2.1
typing-inspect==0.7.1
tzlocal==4.2
u-msgpack-python==2.3.0
ufoLib2==0.13.1
unicodecsv==0.14.1
Unidecode==1.3.4
unpaddedbase64==2.1.0
uvicorn==0.17.6
venusian==3.0.0
virtualenv==20.15.0+ds
wafw00f==2.1.0
wapiti3==3.0.4
wcwidth==0.2.5
webargs==8.0.1
WebOb==1.8.6
websocket-client==1.2.3
websockets==10.2
websockify==0.10.0
wfuzz==3.1.0
whois==0.8
wifite==2.6.0
winacl==0.1.2
wsproto==1.1.0
WTForms==2.2.1
xcffib==0.11.1
xdg==5
xlrd==1.2.0
XlsxWriter==3.0.2
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.12.0
yarg==0.1.9
yaswfp==0.9.3
zc.lockfile==2.0
zlib-wrapper==0.1.3
zope.deprecation==4.4.0

Pillow~=9.2.0