{% extends 'taskmanager/base.html' %}
{% load static %}

{% block taskwindow %}

    <div class="card-header">
        <div class="w-100 d-flex flex-wrap">
            <button onclick="location.href='{% url 'task_new' %}'" style="border-radius: 0 !important" class="btn btn-info">NEW TASK</button>
            <button style="border-radius: 0 !important" class="btn btn-info btn-warning">EXPORT</button>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="h-100 w-100 overflow-auto">
            <ul style="height: 80% !important" class="list-group overflow-auto">
                {% for task in my_tasks %}
                  <li class="list-group-item">
                      <input type="checkbox">
                      </i> <strong><a href="{% url 'task' task.uni %}">{{ task.title }}</a></strong><br>
                      <small class="text-muted">{{ task.task_inline }}</small>
                  </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}