{% extends 'retail/base.html' %}
{% load static %}

{% block body %}

    <div class="card-header">
        <div class="w-100 d-flex flex-wrap">
            <div class="w-50">
                <strong class="card-title">MY RECIPES</strong>
            </div>
            <div class="w-50 d-flex flex-wrap justify-content-end">
                <button onclick="recipe.newRecipeGroupScreen()" class="btn btn-sm btn-info">NEW RECIPE GROUP</button>
            </div>
        </div>
    </div>

    <div class="card-body p-2 overflow-hidden">
        <div class="container h-100 overflow-hidden">
            <div class="row h-100 overflow-hidden">
                <div class="col-sm-6 h-100 overflow-auto">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>GROUP</th><th>PRODUCTS</th><th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody id="recipes">
                                <tr>
                                    <td>
                                        <span onclick="kasa.info('Preview Group')" class="text-primary pointer">NAME</span>
                                    </td>
                                    <td>1</td>
                                    <td><span class="badge bg-info">OPEN</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-6 h-100 overflow-auto">
                    <div class="w-100 row d-flex flex-wrap">

                        {% for close in closed %}
                            <div class="col-sm-6">
                                <div data-bs-target="#prod{{ close.pk }}" data-bs-toggle="modal" class="card pointer">
                                    <div class="card-body">
                                        <img src="/static/recipe_card/{{ close.name }}.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-footer">
                                        <small class="tex-info">{{ close.name }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="prod{{ close.pk }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <strong class="modal-title">{{ close.name }}</strong>
                                        </div>
                                        <div class="modal-body">
                                            <img src="/static/recipe_card/{{ close.name }}.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>

        recipe.loadRecipe()

    </script>


{% endblock %}