{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="container-fluid h-100">
        <div class="row no-gutters" style="height: 90vh">
            <!-- MEETING HEADER -->
            <div class="col-sm-12 round m-0 p-0 h-100">
                <div class="card h-100 rounded-0 shadow-none">
                    <div class="card-header">
                        {% if perms.meeting.view_meetinghd %}
                        <button onclick="location.href='{% url 'new_meeting' %}'" class="btn btn-info">CREATE MEETING</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-sm table datatable table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Created On</th>
                                        <th>Start Time</th>
                                        <th>End TIme</th>
                                        <th>Status</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody">
                                    {% for meeting in meetings %}
                                        <tr data-bs-toggle="modal" data-bs-target="#edDetail{{ meeting.uni }}">
                                            <td>{{ meeting.title }}</td>
                                            <td>{{ meeting.created_date }} {{ meeting.created_time }}</td>
                                            <td>{{ meeting.start_date }} {{ meeting.start_time }}</td>
                                            <td>{{ meeting.end_date }} {{ meeting.end_time }}</td>
                                            <td>
                                                <kbd class="bg-info">PENDING</kbd>
                                            </td>
                                            <td>
                                                <div class="dropdown dropleft">
                                                  <i class="bi bi-view-list text-info pointer" id="dropdownMenuButton{{ meeting.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ meeting.pk }}">
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-door-open text-primary"></i> START</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="bx bx-trash text-warning"></i>CANCEL</a>
                                                      <a class="dropdown-item" href="javascript:void(0)"><i class="bx bx-time text-info"></i> POSTPONE</a>
                                                      <a class="dropdown-item" href="javascript:void(0)"><i class="bx bx-user text-dark"></i> PARTICIPANTS</a>
                                                  </div>
                                                </div>

                                            </td>
                                        </tr>

                                        <div class="modal fade" id="medDetail{{ meeting.uni }}">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="w-100 d-flex flex-wrap justify-content-between">
                                                            <button onclick="location.href='{% url 'config_meeting' meeting.uni %}'" class="btn btn-success">open</button>
                                                            <span class="text-info">{{ meeting.title }}</span>
                                                            {% if meeting.status == 0 %}
                                                            <button class="btn btn-info">postpone</button>
                                                            {% endif %}
                                                        </div>
                                                        <hr>
                                                        <div class="w-100 d-flex flex-wrap">
                                                            <kbd class="mx-2">Participants <span class="bg-info badge">{{ meeting.participants.count }}</span></kbd>
                                                            <kbd class="mx-2">Attachments <span class="bg-info badge">{{ meeting.attachments.count }}</span></kbd>
                                                        </div>
                                                        <hr>
                                                        {{ meeting.descr }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        function myMeetings() {
            let data = {}
            data['part'] = 'mine'
            data['key'] = {{ request.user.pk }};

            let payload = {
                'module':'meetings',
                data:data
            }

            let response = api.call('VIEW',payload,'/apiv2/meeting/')
            console.table(response)
            if(response['status_code'] === 200){
                let meetings = response['message']
                let tr = ''
                for (let meet = 0; meet < meetings.length; meet ++){

                    let meeting = meetings[meet]

                    let status = meeting['status']
                    let st = ''
                    let sts = ''
                    let open = ''
                    if(status === 1){
                        // meeting on going
                        sts = `<kbd onclick="location.href = '/meeting/config_meeting/${meeting['uni']}/'" title='JOIN' class="text-danger pointer bg-light bx bx-broadcast"> live</kbd>`
                        st = `<a class="dropdown-item" onclick="meeting.endMeeting('${meeting['uni']}')" href="javascript:void(0)"><i class="bi bi-door-open text-danger"></i> END</a>`
                    } else if (status === 0){
                        sts = `<kbd class="bg-info">pending</kbd>`
                        // start meeting

                        st = `<a class="dropdown-item" onclick="meeting.startMeeting('${meeting['uni']}')" href="javascript:void(0)"><i class="bi bi-door-open text-primary"></i> START</a>`
                    }
                    if(status !== 3) {
                        tr += `
                        <tr>
                                            <td>${meeting['title']}</td>
                                            <td>${meeting['created_date']}</td>
                                            <td>${meeting['start_end']['start_date']} ${meeting['start_end']['start_time']}</td>
                                            <td>${meeting['start_end']['end_date']} ${meeting['start_end']['end_time']}</td>
                                            <td>
                                                ${sts}
                                            </td>
                                            <td>
                                                <div class="dropdown dropleft">
                                                  <i class="bi bi-view-list text-info pointer" id="dropdownMenuButton${meeting['uni']}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton${meeting['uni']}">
                                                    ${st}
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="bx bx-trash text-warning"></i>CANCEL</a>
                                                      <a class="dropdown-item" href="javascript:void(0)"><i class="bx bx-time text-info"></i> POSTPONE</a>
                                                      <a class="dropdown-item" onclick="meeting.viewParticipants('${meeting['pk']}')" href="javascript:void(0)"><i class="bx bx-user text-dark"></i> PARTICIPANTS</a>
                                                      <a class="dropdown-item" onclick="meeting.viewAttach('${meeting['pk']}')" href="javascript:void(0)"><i class="bx bx-file text-success"></i> ATTACHMENTS</a>
                                                  </div>
                                                </div>

                                            </td>
                                        </tr>
                    `;
                    }
                }
                $('#tBody').html(tr)

            } else {
                alert(`CANNOT LOAD MEETING : ${response['message']}`)
            }

        }

        myMeetings()
    </script>

{% endblock %}