{% extends 'dashboard/products/prod_base.html' %}

{% block body %}

    

        <div class="card h-100">
            <div class="card-header d-flex flex-wrap justify-content-between">
                <button style="height: fit-content" class="btn btn-primary btn-sm" onclick="location.href='{% url 'new_purchasing_order' %}'">NEW</button>
                <div class="w-50 d-flex flex-wrap justify-content-end">
                                <button id="previous" class="btn btn-info btn-sm mx-2 bi bi-skip-backward"></button>
                                <button id="next" class="btn btn-info btn-sm bi bi-skip-forward"></button>

                            </div>
            </div>
            <div class="panel-sub-heading m-2">
                <div class="w-100 container-fluid">
                    <div class="w-100 row">
                        <div class="col-sm-3">
                            <label class="w-100">Entry NO <br>
                                <input type="text" id="ent_num" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Supplier <br>
                                <input type="text" id="supplier" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Location <br>
                                <input type="text" id="loc" disabled class="anton-form-tool">
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="w-100">Date Created <br>
                                <input type="text" id="ent_date" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Owner <br>
                                <input type="text" id="t_owner" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Taxable <br>
                                <input type="text" id="taxable" disabled class="anton-form-tool">
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="w-100">Taxable Amount <br>
                                <input type="text" id="taxable_amt" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Tax Amount<br>
                                <input type="text" id="tax_amt" disabled class="anton-form-tool">
                            </label>
                            <label class="w-100">Total Amount<br>
                                <input type="text" id="tot_amt" disabled class="anton-form-tool">
                            </label> <!-- -->
                        </div>
                        <div class="col-sm-3">
                            <div class="w-100 d-flex flex-wrap">
                                <button title="Approve" data-bs-toggle="tooltip" id="approve" class="btn btn-sm m-1 btn-success">APPROVE</button>
                                <button title="Print Document" data-bs-toggle="tooltip" id="print" onclick="po.Print(this.value)" class="btn btn-sm m-1 btn-dark bi bi-printer"></button>
                            </div>
                            <br>

                            <label for="ent_rm">Remarks</label><textarea name="" id="ent_rm" cols="30" class="anton-form-tool w-100" disabled rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body" style="overflow: hidden; height: 50vh">
                <div class="w-100 h-100" style="overflow: auto">
                    <table class="table table-sm table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>LN</th>
                                <th>BARCODE</th>
                                <th>DESCRIPTION</th>
                                <th>PACK</th>
                                <th>PACK QTY</th>
                                <th>TRAN QTY</th>
                                <th>UNIT COST</th>
                                <th>TOTAL COST</th>

                            </tr>
                        </thead>
                        <tbody id="tBody">

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <script>
            let po_id = `{{ po }}`;
            docs.view('PO',{{ po }})


            $(document).ready(function(){
                $('#approve').click(function(){
                    if(confirm('ARE YOU SURE?')){
                        let entry_no = $('#ent_num').val();
                        productMaster.ApprTrans('po',entry_no); 
                        docs.view('PO',entry_no)
                    }
                })

                // next
                $('#next').click(function(){
                    let id = $('#next').val();
                    if(id > 0){
                        docs.view('PO',{{ id }})
                    } else {
                        kasa.error(`Cannot pass ${id} to load transactions`)
                    }
                });

                $('#previous').click(function(){
                    let id = $('#previous').val();
                    if(id > 0){
                        docs.view('PO',{{ id }})
                    } else {
                        kasa.error(`Cannot pass ${id} to load transactions`)
                    }
                });

            });


        </script>

    

{% endblock %}