{% extends 'cmms/base.html' %}
{% load static %}

{% block cmms %}
    <div class="card-header">
        <div class="w-100 d-flex flex-wrap">
            <div class="w-50 d-flex flex-wrap">
                <button id="new" class="btn nav-btn btn-sm btn-primary mr-1">
                    <i class="fa fa-plus"></i>
                </button>
                <button id="edit" class="btn nav-btn btn-sm btn-warning mr-1">
                    <i class="fa fa-edit"></i>
                </button>
                <button id="previous" class="btn nav-btn btn-sm btn-info mr-1">
                    <i class="fa fa-backward"></i>
                </button>
                <button id="next" class="btn nav-btn btn-sm btn-info mr-1">
                    <i class="fa fa-forward"></i>
                </button>
            </div>

            <div class="w-50 d-flex flex-wrap p-2 justify-content-end">
                <button id="asset_groups" class="btn p-1 btn-info btn-sm nav-btn">
                    Asset Group
                </button>
                <button class="btn p-1 btn-info btn-sm nav-btn">
                    Asset List
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="container-fluid h-100">
            <div class="row h-25 overflow-auto">
                <div class="col-sm-4">
                    <!-- Manufacturer -->
                    <div class="row mb-2">
                        <label for="asset_manufacturer" class="col-sm-4">Manufacturer</label>
                        <div class="col-sm-8">
                            <select class="form-control rounded-0" id="asset_manufacturer">
                                <option value="">Toyota</option>
                            </select>
                        </div>
                    </div>

                    <!-- Origin -->
                    <div class="row mb-2">
                        <label for="origin" class="col-sm-4">Origin</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control rounded-0" id="origin">
                        </div>
                    </div>

                    <!-- SUPPLYEr -->
                    <div class="row">
                        <label for="supplier" class="col-sm-4">Supplier</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control rounded-0" id="supplier">
                        </div>
                    </div>


                </div>

                <div class="col-sm-4">
                    <!-- NAME-->
                    <div class="row">
                        <label for="supplier" class="col-sm-4">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control rounded-0" id="name">
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODELS -->
            <div class="row h-75 overflow-auto table-responsive">
                <table class="datatable">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Stock</th>
                            <th>Doc.</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Camry</a></td>
                            <td>Spider</td>
                            <td>2025</td>
                            <td>10</td>
                            <td>0</td>
                            <td>$1,000.00</td>
                            <td>Actions</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>

        function loadAssetGroups(){
            let asset_groups = sales.getAssetGroup('*');
            if(anton.IsRequest(asset_groups)){
                let groups = asset_groups['message'];
                let option = `<option selected disabled value="" >Select Manufacturer</option>`
                for(let g = 0; g < groups.length; g++){
                    let group = groups[g]
                    option +=`<option  value="${group['pk']}" >${group['name']}</option>`
                }

                $('#asset_manufacturer').html(option)
            } else {
                kasa.response(asset_groups)
            }
        }
        $(document).ready(function(){

            // load asset groups
            loadAssetGroups();

            $('#asset_groups').click(function(){
                sales.viewAssetGroups()
            });

            // set asset details
            $('#asset_manufacturer').change(function(){
                let ids = ['asset_manufacturer'];
                if(anton.validateInputs(ids)){
                    let manufact = sales.getAssetGroup($('#asset_manufacturer').val());
                    if(anton.IsRequest(manufact)){
                        let manf = manufact['message'][0];
                        $('#supplier').val(manf['supplier'])
                        $('#origin').val(manf['origin'])
                    } else {
                        kasa.response(manufact)
                    }

                } else {
                    kasa.error("Select Valid Manufacture")
                }
            });
        })
    </script>
{% endblock %}