{% extends 'retail/base.html' %}
{% load static %}
{% block body %}
    <div class="card-header">
        <div class="w-100 h-100 d-flex flex-wrap">
            <div class="w-25 h-100"><strong class="card-title">PRODUCTS LIST</strong></div>
            <div class="w-75 h-100 d-flex flex-wrap justify-content-end align-content-center">
                <a class='btn btn-outline-info mr-1 rounded-0' style='margin-right: 2px'>NEGATIVE FLAG</a>
                <a href="javascript:void(0)" style="border-radius: 0 !important" onclick="retail.export_retail_products('*')" class="btn btn-outline-warning"><i class="fa fa-file-excel"></i> Export</a>
            </div>
        </div>
    </div>
    <div class="card-body overflow-auto">

        <table class="table datatable">
            <thead>
                <tr>
                    <th>KEY</th>
                    <th>GROUP</th>
                    <th>SUB GROUP</th>
                    <th>BARCODE</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>STOCK MON.</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for item in items %}
                    <tr class="">
                        <td><small>{{ item.pk }}</small></td>
                        <td><small>{{ item.subgroup.group.name | slice:':10' }}</small></td>
                        <td><small>{{ item.subgroup.name | slice:'20' }}</small></td>
                        <td><small>{{ item.barcode }}</small></td>
                        <td><small>{{ item.name | slice:'28' }}</small></td>
                        <td><small>{{ item.price }}</small></td>
                        <td><small>{{ item.stock_monitor }}</small></td>
                        <td>
                            <div class="dropdown dropleft">
                                <span data-toggle="dropdown" class="bx bx-menu"></span>
                                <div class="dropdown-menu">
                                    
                                    {% if item.stock_monitor is True %}
                                        <a class="dropdown-item text-danger" onclick="retail.disableMonitoring('{{ item.pk }}')" href="javascript:void(0)">Dis Stock Flag</a>
                                    {% else %}
                                        <a class="dropdown-item text-success" onclick="retail.enableMonitoring('{{ item.pk }}')" href="javascript:void(0)">En Stock Flag</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='card-footer'>
        {% if is_previous %}
        <button onclick="location.href='{% url 'products' preious %}'" class='btn btn-info btn-sn'>PREVIOS</button>
        {% else %}
        <button disabled class='btn btn-info btn-sn'>PREVIOS</button>
        {% endif %}
        
        {% if is_next %}
        <button onclick="location.href='{% url 'products' next %}'" class='btn btn-info btn-sn'>NEXT</button>
        {% else %}
        <button disabled class='btn btn-info btn-sn'>NEXT</button>
        {% endif %}
    </div>
    <script>
        //retail.loadProducts()
    </script>
{% endblock %}