{% extends 'cmms/service/serv_base.html' %}
{% load static %}


{% block cmms %}
	<div class="table-responsive p-1">
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CUSTOMER</th>
                    <th>CAR NUMBER</th>
                    <th>CAR MODEL</th>
                    <th>CHASIS</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>HELLO</td>
                    <td>WORLD</td>
                    <td>KOFI</td>
                    <td>NONE</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}