{% extends 'cmms/base.html' %}

{% block cmms %}
    <div class="w-100 h-100 card">
        <div class="card-header">
            <button class="btn btn-info">NEW CUSTOMER</button>
        </div>
        <div class="card-body p-2">
            <table class="table table-sm datatable">
                <thead>
                    <tr>
                        <th>NAME</th><th>ORGANIZATION</th><th>CONTACT</th><th>Email</th><th>ACTION</th>
                    </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let payload = {
            "module":"customer",
            "data":{
                "cust_type":"cmms_service"
            }
        }

        let response = api.call('VIEW',payload,'/cmms/api/')
        if(response['status_code'] === 200){
            let message = response['message']
            for (let i = 0; i < message.length; i++) {
                let customer = message[i]
                $('#tBody').append(`
                    <tr>
                        <td>${customer['code']}</td><td>${customer['name']}</td><td>${customer['phone']}</td><td>${customer['email']}</td>
                        <td><i onclick="cmms_cust.viewCustomerAssets('${customer['code']}')" class="bi bi-car-front-fill pointer"></i></td>
                    </tr>
                `);
            }
        } else {
            kasa.error(response['message'])
        }

    </script>

{% endblock %}