{% extends 'cmms/sales/sales_base.html' %}
{% load static %}

{% block cmms %}


        <div class="card-header">
            <strong class="card-title">Proforma Invoices</strong>
        </div>

        <div class="card-body bg-light" style="overflow: hidden !important">
            {% if proformas.count > 0 %}
            <div class="table table-responsive h-100 overflow-auto">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Customer</th><th>Asset</th><th>Created Date</th><th>Created By</th><th>Status</th><th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in proformas %}
                            <tr>
                                <td>{{ doc.customer.name }}</td>
                                <td>{{ doc.car_model.model_name }}</td>
                                <td>{{ doc.created_on }}</td>
                                <td>{{ doc.created_by.get_full_name }}</td>
                                <td>
                                    {% if doc.status == 2 %}
                                        <span class="badge bg-warning">approval request</span>
                                    {% elif doc.status == 3 %}
                                        <span class="badge bg-info">approved</span>
                                    {% elif doc.status == 5 %}
                                        <span class="badge bg-success-light text-dark">sent</span>
                                    {% elif doc.status == 6 %}
                                        <span class="badge bg-success">sold</span>
                                    {% elif doc.status == 7 %}
                                        <span class="badge bg-danger-light text-dark">expired</span>
                                    {% endif %}

                                {{ doc.days_2_expire }}
                                </td>
                                <td>
                                    <div class="dropdown dropleft">
                                      <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-angle-left"></i>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% if doc.status == 1 %}
                                                <!-- REquest for approval -->
                                                <a class="dropdown-item text-info" onclick="sales.requestProformaApproval('{{ doc.pk }}')" href="javascript:void(0)">Request Approval</a>
                                            {% elif doc.status == 3 %}
                                                <!--Approval Pending-->
                                                <!-- Send to customers-->
                                                <a class="dropdown-item text-success" onclick="sales.sendProforma('{{ doc.pk }}')" href="javascript:void(0)">Send To Customer</a>
                                            {% elif doc.status == 5 %}
                                                <!--mark as sale-->
                                                <a class="dropdown-item text-warning" onclick="sales.ProformaEOD('{{ doc.pk }}')" href="javascript:void(0)">End Of Life</a>
                                                <!-- ENd of life -->

                                                
                                            {% endif %}

{#                                            <a class="dropdown-item text-info" onclick="sales.viewProforma('{{ doc.pk }}')" href="javascript:void(0)">View Proforma</a>#}
                                            <a class="dropdown-item text-primary" onclick="sales.updateProformaSpecs('{{ doc.pk }}')" href="javascript:void(0)">Update Specs</a>

                                      </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="w-100 h-100 d-flex flex-wrap justify-content-center align-content-center">
                <div class="alert alert-info text-center">
                    <strong>NO DOCUMENT</strong>
                    <p>Create new proforma document from Asset > Asset Model</p>
                </div>
            </div>
            {% endif %}
        </div>

{% endblock %}