{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Main Container Start -->
			<div class="main-container">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Community Issues</h4>
                        <ul class="links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-navicon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div style="text-align: left" class="panel-sub-heading">
                        <div style="width: 100%;" class="d-flex flex-wrap">
                            <span onclick="location.href='{% url 'new_task' %}'" class="btn btn-sm btn-info">NEW TASK</span>
                            <button onclick="task_export('csv')" type="button" class="btn  btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                Export
                              </button>
                            <button  type="button" class="btn  btn-sm btn-primary" data-toggle="modal" data-target="#search">
                                Search
                              </button>

                            <button data-toggle="modal" data-target="#filter" class="btn btn-sm btn-primary">FILTER</button>
                            <div class="modal fade" data-backdrop="false" id="filter">
                                <div class="modal-dialog">
                                    <form method="get" action="{% url 'task_filter' %}" class="modal-content">
                                        <div class="modal-header">
                                            <strong class="modal-title">Filter Option</strong>
                                        </div>

                                        <div class="modal-body">

                                            <!-- DOMEIn -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>Domain</h4>
                                                </div>
                                                <div class="panel-body">
                                                    {% for tag in domain %}
                                                      <label class="radio-inline">
                                                        <input required type="radio" name="domain" id="optionsRadios{{ tag.pk }}" value="{{ tag.pk }}"> {{ tag.tag_dec }}
                                                      </label>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <!-- STATUS -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>Status</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <label class="radio-inline">
                                                        <input required type="radio" name="status" id="optionsRadios1" value="0"> OPEN
                                                      </label>
                                                    <label class="radio-inline">
                                                        <input required type="radio" name="status" id="optionsRadios2" value="1"> CLOSE
                                                      </label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning btn-sm">CANCEL</button>
                                            <a href="{% url 'all_task' %}" class="btn btn-sm btn-primary">ALL TASK</a>
                                            <button type="submit" class="btn btn-success">APPLY FILTER</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <input type="hidden" name="export_url" id="export_url" value="{% url 'export_task' %}">
                            <div class="modal fade" id="search" data-backdrop="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header"><strong class="modal-title">
                                            <input type="search" class="form-control" placeholder="query" autocomplete="off" id="search_task">
                                        </strong></div>
                                        <div class="modal-body">

                                            <div style="height: 50vh; overflow: auto" id="search_result">
                                                <div class="list-group" id="searchRes">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" style="height: 60vh; overflow: auto">
                            <table class="table table -bordered no-margin">
                                <input type="hidden" id="close_url" value="{% url 'close_task' %}">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10%">Domain</th>
                                                            <th style="width: 10%">Provider</th>
                                                            <th style="width: 15%">Title</th>
                                                            <th style="width: 20%">Description</th>
                                                            <th style="width: 5%">Status</th>
                                                            <th style="width: 15%">Timestamp</th>
                                                            <th style="width: 25%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for task in tasks %}
                                                        <tr class="{% if task.status == 1 %}bg-success{% endif %}">
                                                            <td>
                                                                <span class="badge">{{ task.domain.tag_dec }}</span>
                                                            </td>
                                                            <td>{{ task.provider.descr }}</td>
                                                            <td>{{ task.title }}</td><td>{{ task.description | safe | slice:":30" }}</td>
                                                            <td>
                                                                {% if task.status == 0 %}
                                                                    <span class="badge badge-danger">OPEN</span>
                                                                {% else %}
                                                                    <span class="badge badge-success">CLOSE</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ task.added_on }}</td>
                                                            <td><div class="w-100 d-flex flex-wrap align-content-center justify-content-between">
                                                                <a href="{% url 'view_task' task.entry_uni %}" class="btn-info pointer btn-sm rounded-0 pointer mx-1">VIEW</a>
                                                                {% if task.status == 0 %}
                                                                <a href="{% url 'update_task' task.entry_uni %}" class="btn-success pointer btn-sm rounded-0 pointer mx-1">UPDATE</a>
                                                                <span onclick="close_issue('{{ task.entry_uni }}')" class="btn-danger pointer btn-sm rounded-0 pointer mx-1">CLOSE</span>

                                                                {% endif %}
                                                            </div></td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                        </div>
                    </div>


                </div>

            </div>
{% endblock %}