{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Main Container Start -->
			<div class="main-container">
				<!-- Top Bar Starts -->
				<div class="top-bar clearfix">
                    <div class="page-title">
                        <h4><div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>{{ page_title }}</h4>
                    </div>
                    <ul class="right-stats hidden-xs" id="mini-nav-right">
                        <li class="reportrange btn btn-success">
                            <i class="fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </li>
                        <li>
                            <a href="#" class="btn btn-info sb-open-right  sb-close">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe06a;"></div>
                            </a>
                        </li>
                    </ul>
                </div>
{% endblock %}