{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/all.css' %}">

    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'general/js/all.js' %}"></script>

    <script src="{% static 'general/js/sweetalert2@11' %}"></script>
    <script src="{% static 'general/js/general.js' %}"></script>
    <script src="{% static 'general/js/error_handler.js' %}"></script>
    <script src="{% static 'general/js/admin.js' %}"></script>
    <link rel="stylesheet" href="{% static 'general/css/sweetalert.min.css' %}">

    {% if page_title %}
       <title> {{ page_title }} </title>
    {% else %}
        <title>Ocean | Power Of Sharing</title>
    {% endif %}

</head>
    <body style="height: 100vh; overflow: hidden !important" class="bg_default">
    
        <div class="container-fluid h-100 overflow-hidden">
            <div class="row h-100 overflow-hidden">
                <div class="col-sm-2 p-0 h-100 bg-dark">
                    <header class="d-flex flex-wrap align-content-center justify-content-center">
                        <h3 class="text-light font-weight-bolder">ADMIN</h3>
                    </header>
                    <articl>
                        <a href="{% url 'all-issues' %}" class="btn btn-sm text-left w-100 btn-outline-primary mb-2 border-0 text-light font-weight-bolder rounded-0">Issues</a>
                        <a href="{% url 'all_task' %}" class="btn btn-sm text-left w-100 btn-outline-primary mb-2 border-0 text-light font-weight-bolder rounded-0">Task</a>

                        <a data-toggle="collapse" class="btn r_nav text-light text-left w-100" data-target="#inventory_collapse">
                        <span class="fa fa-boxes-stacked"></span> Escalation
                        </a>

                        <div id="inventory_collapse" class="collapse pl-4">
                            <a href="{% url 'to_escalate' %}" class="r_child pointer"><span class="fa fa-check-square"></span> Marked</a>
                            <hr class="m-1">
                            <a href="#" class="r_child pointer"><span class="fa fa-envelope-open"></span> Sent</a>
                            <hr class="m-1">

                        </div>

                    </articl>
                </div>

                <!-- WORK SPACE -->
                <div class="col-sm-10 p-0 h-100">
                    <header class="d-flex flex-wrap align-content-center">
                        <nav class="navbar navbar-expand-sm w-100 h-100 bg-light navbar-light">
                          <div class="container text-dark">
                              <a class="navbar-link text-dark" href=""><strong>Heading</strong></a>
                              <ul class="navbar-nav mr-auto ml-5">


                                <li>
                {#                    <form class="form-inline" method="post" action="{% url 'search-article' %}">#}
                {#                        {% csrf_token %}#}
                {#                          <input style="width: 400px" value="{{ query_str }}" type="search" class="form-control rounded_c_m" autocomplete="off" name="query" placeholder="Search Query" id="email">#}
                {#                          <button style="display: none" type="submit" class="btn rounded-0 btn-info">GO</button>#}
                {#                        </form>#}
                                </li>

                              </ul>

                              <ul class="navbar-nav ml-auto ml-5 d-flex flex-wrap align-content-center">

                                    {% if user.is_authenticated %}
                                        <div class="h-100 d-flex flex-wrap align-content-center">

                                            <div class="dropdown dropleft">
                                              <button type="button" data-toggle="dropdown" class="btn btn-sm btn-outline-dark p-0 user_profile">
                                                  <img src="{% static 'blog/asssets/users/user.png' %}" alt="" class="img-fluid">
                                              </button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Profile</a>
                                                <a class="dropdown-item" href="#">Logout</a>
                                                <a class="dropdown-item" href="#">Link 3</a>
                                              </div>
                                            </div>
                                        </div>
                                        {% if user.is_superuser %}

                                            <a href="{% url 'blog-home' %}" class="btn btn-sm ml-2 btn-outline-dark p-0 user_profile">
                                                  <img src="{% static 'blog/asssets/icons/admin_panel.png' %}" alt="" class="img-fluid">
                                              </a>

                                        {% endif %}
                {#                        <button onclick="location.href='{% url 'new-article' %}'" class="btn btn-success rounded-0 ml-2">New Article</button>#}
                                    {% endif %}

                              </ul>
                          </div>
                        </nav>
                    </header>
                    <article class="overflow-hidden">
                        {% block admin_tool %}

                        {% endblock %}
                    </article>
                </div>

            </div>
        </div>
    
    </body>
</html>