{% extends 'base.html' %}
{% load static %}

{% block  body %}
    <div class="w-50 card">
    <input type="hidden" value="{% url 'mark-esc' %}" id="url">
        <div class="panel panel-default no-margin">
            <div class="panel-heading">
                <h4><span class="badge badge-info">{{ taskHd.domain.descr }}</span> {{ taskHd.title }}</h4>

                <ul class="links">
                    {% if taskHd.status == 0  %}
                    <li>
                        <a title="Update" href="{% url 'update_task' taskHd.entry_uni %}">
                            <i class="fa fa-list"></i>
                        </a>
                    </li>
                        <li>
                        <a title="Close" onclick="close_issue('{{ taskHd.entry_uni }}')">
                            <kbd style="cursor: pointer" class="btn-danger btn-sm">CLOSE ISSUE</kbd>
                        </a>
                    </li>
                    {% else %}
                        <li>
                            <a class="disabled">
                                <i class="">CLOSED</i>
                            </a>
                        </li>
                    {% endif %}
                     <li>
                            <a class="disabled">
                                <kbd data-toggle="modal" data-target="#changeDomain" style="cursor: pointer" class="btn-info btn-sm">CHANGE DOMAIN</kbd>
                            </a>
                            <div class="modal" id="changeDomain" data-backdrop="false">
                                <form method="post" id="general_form" action="{% url 'change_domain' %}" class="modal-dialog modal-dialog-centered">
                                    <input type="hidden" name="task_uni" value="{{ taskHd.entry_uni }}">
                                    {% csrf_token %}
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <strong class="modal-title">Chaning Domain</strong>
                                        </div>

                                        <div class="modal-body">
                                            <label for="">From : </label><select name="curr_domain" readonly id="" class="form-control">
                                                <option value="{{ taskHd.domain.pk }}">{{ taskHd.provider.descr }}</option>
                                            </select> <br>
                                            <label for="">To : </label><select name="new_domain" id="" class="form-control">
                                                {% for domain in domains %}
                                                    {% if domain.pk != taskHd.domain.pk %}
                                                        <option value="{{ domain.pk }}">{{ domain.tag_dec }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select> <br>
                                            <textarea name="reason"  placeholder="Reason.." class="form-control" id="" cols="30" rows="5"></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-warning rounded-0" type="button" data-dismiss="modal">CANCEL</button>
                                            <button class="btn btn-success btn-sm rounded-0" type="submit">SEND</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                     </li>
                    <li>
                        <a class="disabled">
                            <kbd data-toggle="modal" data-target="#sendMail" style="cursor: pointer" class="btn-info btn-sm">Send Mail</kbd>
                        </a>

                        <div class="modal" id="sendMail" data-backdrop="false">
                                <form method="post"  action="{% url 'test_suolution' %}" class="modal-dialog modal-dialog-centered">
                                    <input type="hidden" name="task_uni" value="{{ taskHd.entry_uni }}">
                                    {% csrf_token %}
                                    <div class="modal-content modal-lg">

                                        <div class="modal-header">
                                            <strong class="modal-title">Send Mail</strong>
                                        </div>

                                        <div class="modal-body">
                                            <label for="">To : </label><input type="text" name="to" required class="form-control"> <br>
                                            <label for="">Subject : </label><input type="text" name="subject" required class="form-control"> <br>
                                            <label for="update_details">Message:</label><textarea name="body" style="height: 75vh" class="form-control" id="update_details">
                                            Issue <strong>{{ taskHd.title }}</strong> has been resolved and below are instructions to follow for confirmation: <br>
                                        </textarea>
                                            <script src="{% static 'blog/js/htmeditor.min.js' %}"      htmeditor_textarea="update_details"      full_screen="no"      editor_height="500"     run_local="no">
                                            </script>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-warning rounded-0" type="button" data-dismiss="modal">CANCEL</button>
                                            <button class="btn btn-success btn-sm rounded-0" type="submit">SEND</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                    </li>
                    <li>
                        <a href="{% url 'send_mail' taskHd.entry_uni %}" class="">
                            <kbd  style="cursor: pointer" class="btn-success btn-sm">Send Mail V2</kbd>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="panel-body">
                <div class="card">
                    <div style="width: 75%;margin: 0 auto">

                        <div style="margin-bottom: 10px !important">
                            {{ taskHd.description | safe }}
                        </div>
                        <hr>
                        <hr>

                        <ul class="chat">

                            {% for tran in taskTran %}
                                <li class="in">
                                <img class="avatar" alt="" src="{% static 'general/img/admin11.png' %}">
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="#" class="name">
                                        {{ tran.owner_name }}
                                    </a>
                                    <span class="date-time">
                                        at {{ tran.created_on }}
                                    </span>

                                    <span class="body body-grey">
                                        <strong>{{ tran.tran_title }}</strong><br>
                                        {{ tran.tran_descr | safe }}
                                    </span>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}