{% extends 'base.html' %}
{% load static %}

{% block  body %}
    <div class="container">

        <input type="hidden" id="close_url" value="{% url 'close_task' %}">

              <form method="post" action="{% url 'update_task' taskHd.entry_uni %}" class="modal fade" id="updateModal" tabindex="-1">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">UPDATE</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                            {% csrf_token %}
                                <div class="w-100">


                                    <div class="form-group mb-2">
                                        <input type="hidden" name="entry" value="{{ taskHd.entry_uni }}">
                                        <label style="width: 100%">Title :
                                            <input type="text"
                                                   class="form-control mb-3"
                                                   name="title"
                                                   required
                                            >
                                        </label>
                                        <hr>
                                        <textarea name="body" style="height: 50vh" class="form-control" id="update_details"></textarea>
                                        <script src="{% static 'blog/js/htmeditor.min.js' %}"      htmeditor_textarea="update_details"      full_screen="no"      editor_height="300"     run_local="no">
                                        </script>
                                    </div>


                                </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                  </div>
                </div>
              </form>

        <div class="modal" id="changeDomain" >
                                <form method="post" id="general_form" action="{% url 'change_domain' %}" class="modal-dialog modal-dialog-centered">
                                    <input type="hidden" name="task_uni" value="{{ taskHd.entry_uni }}">
                                    {% csrf_token %}
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <strong class="modal-title">Chaning Domain</strong>
                                        </div>

                                        <div class="modal-body">
                                            <label for="">From : </label><select name="curr_domain" readonly id="" class="form-control">
                                                <option value="{{ taskHd.domain.pk }}">{{ taskHd.provider.descr }}</option>
                                            </select> <br>
                                            <label for="">To : </label><select name="new_domain" id="" class="form-control">
                                                {% for domain in domains %}
                                                    {% if domain.pk != taskHd.domain.pk %}
                                                        <option value="{{ domain.pk }}">{{ domain.tag_dec }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select> <br>
                                            <textarea name="reason"  placeholder="Reason.." class="form-control" id="" cols="30" rows="5"></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-warning rounded-0" type="button" data-dismiss="modal">CANCEL</button>
                                            <button class="btn btn-success btn-sm rounded-0" type="submit">SEND</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

        <div class="modal" id="sendMail" >
                                <form method="post"  action="{% url 'test_suolution' %}" class="modal-dialog modal-dialog-centered">
                                    <input type="hidden" name="task_uni" value="{{ taskHd.entry_uni }}">
                                    {% csrf_token %}
                                    <div class="modal-content modal-lg">

                                        <div class="modal-header">
                                            <strong class="modal-title">Send Mail</strong>
                                        </div>

                                        <div class="modal-body">
                                            <label for="">To : </label><input type="text" name="to" required class="form-control"> <br>
                                            <label for="">Subject : </label><input type="text" name="subject" required class="form-control"> <br>
                                            <label for="update_details">Message:</label><textarea name="body" style="height: 75vh" class="form-control" id="update_details">
                                            Issue <strong>{{ taskHd.title }}</strong> has been resolved and below are instructions to follow for confirmation: <br>
                                        </textarea>
                                            <script src="{% static 'blog/js/htmeditor.min.js' %}"      htmeditor_textarea="update_details"      full_screen="no"      editor_height="500"     run_local="no">
                                            </script>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-warning rounded-0" type="button" data-dismiss="modal">CANCEL</button>
                                            <button class="btn btn-success btn-sm rounded-0" type="submit">SEND</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

        <div class="card">
            <div class="card-body p-0">
                <div class="w-100 d-flex flex-wrap justify-content-end">
                    <button data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-info btn-sm rounded-0 m-2">UPDATE</button>
                    {% if taskHd.status == 0 %}
                        <button onclick="close_issue('{{ taskHd.entry_uni }}')" class="btn btn-warning btn-sm rounded-0 m-2">CLOSE</button>
                    {% endif %}
                    <button data-toggle="modal" data-target="#changeDomain" class="btn btn-primary btn-sm rounded-0 m-2">CHANGE DOMAIN</button>
                    <button data-toggle="modal" data-target="#sendMail" class="btn btn-success btn-sm rounded-0 m-2">SEND MAIL</button>
                    <button onclick="location.href='{% url 'send_mail' taskHd.entry_uni %}'" class="btn btn-success btn-sm rounded-0 m-2">SEND MAIL V2</button>
                    <input type="hidden" value="{% url 'mark-esc' %}" id="url">
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="card-header">
                <h5 class="card-title m-0">{{ taskHd.title }}</h5>

            </div>
            <div class="card-body p-2">
                <div class="alert alert-info">
                    <p >{{ taskHd.description | safe  }}</p>
                </div>

                <!-- Accordion without outline borders -->
              <div class="accordion accordion-flush" id="accordionFlushExample">
                  {% for tran in taskTran %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ tran.pk }}" aria-expanded="false" aria-controls="flush-collapseOne">
                          <kbd class="mr-2 bg-primary">{{ tran.owner_name }}</kbd>  -  <span class="ml-2 text-muted">{{ tran.tran_title }}</span>
                        </button>
                      </h2>
                      <div id="flush-collapse{{ tran.pk }}" class="accordion-collapse collapse p-4" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="text-info">{{ tran.created_on }}</p>
                            {{ tran.tran_descr | safe }}
                        </div>
                      </div>
                    </div>
                  {% endfor %}

              </div><!-- End Accordion without outline borders -->


            </div>
        </div>


    </div>
{% endblock %}