
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'general/css/all.css' %}">
    <script src="{% static 'general/js/all.js' %}"></script>
    {% if page_title %}
       <title> {{ page_title }} </title>
    {% else %}
        <title>Ocean | Power Of Sharing</title>
    {% endif %}

</head>
<body style="height: 100vh">
    <form id="regular_form" method="post" action="{% url 'sign_up' %}" class="container login_form h-100 overflow-hidden">
      <div class="row h-100 d-flex justify-content-center align-items-center">
          {% csrf_token %}
          <div id='intro' class="col-sm-7 d-flex flex-wrap align-content-center h-100">
              <div class="">
                <h1 class="display-4 font-weight-bolder">OCEAN <i class="fa fa-share-alt"></i></h1>
                <p>The power of collaboration and sharing</p>
              </div>
          </div>

        <div class="col-sm-5">
          <div class="card custom_shadow" style="border-radius: 1rem;">
              <div class="card-header">
                  <strong class="card-title">Sign Up</strong>
                  <p class="m-0 text-muted">It’s quick and easy.</p>
              </div>
              <div class="card-body text-center">

              <div class="">

                <div class="form-outline d-flex flex-wrap justify-content-between form-white mb-4">
                  <input required name="first_name" autocomplete="off" id="" type="text" placeholder="First Name" class="form-control w-45" />
                  <input required name="last_name" autocomplete="off" id="" type="text" placeholder="Last Name" class="form-control w-45" />
                </div>

                <div class="form-outline d-flex flex-wrap justify-content-between form-white mb-4">
                  <input required name="email" autocomplete="off" id="" type="email" placeholder="Email " class="form-control w-100 mb-4" />
                  <input required name="password" autocomplete="off" id="" type="password" placeholder="Password" class="form-control w-100" />
                </div>


{#                <div class="form-outline form-white mb-4">#}
{#                  <input required name="password" id="inputPassword" type="password" placeholder="Password" class="form-control form-control-lg" />#}
{#                </div>#}
                  {% if messages %}
                    {% for message in messages %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Info!</strong> {{ message }}
                      </div>

                    {% endfor %}
                {% endif %}
                <button class="btn btn-primary w-100 btn-lg px-5 mb-4" type="submit">SIGN UP</button>
                <div>
                <p class="small text-info"><a class="" href="{% url 'login' %}">Already have an account? Login</a></p>
              </div>



                <!-- <div class="d-flex justify-content-center text-center m-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div> -->

              </div>



            </div>
        </div>
        </div>

      </div>


    </form>
</body>
</html>
