{% extends 'cmms/base.html' %}

{% block cmms %}
    <div class="modal" id="more">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">INFOGRAPHIC</strong>
                </div>
                <div class="modal-body" style="height: 75vh">

                    <div class="container-fluid">
        <div class="row" style="min-height:  400px">

            <!-- ISSUES STATS -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pie Chart {{ ussettings.count }}</h5>

                  <!-- Pie Chart -->
                  <div id="infopie" style="min-height: 400px;" class="echart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      echarts.init(document.querySelector("#infopie")).setOption({
                        title: {
                          text: 'REASON TYPES',
                          subtext: 'categories of resons',
                          left: 'center'
                        },
                        tooltip: {
                          trigger: 'item'
                        },
                        legend: {
                          orient: 'vertical',
                          left: 'left'
                        },
                        series: [{
                          name: 'INFOGRAPHIC OF STOCK COUNT',
                          type: 'pie',
                          radius: '50%',
                          data: [{
                              value: {{ wrong_entries }},
                              name: 'WRONG ENTRIES'
                            },
                            {
                              value: {{ sys_error }},
                              name: 'SYSTEM ERROR'
                            },
                            {
                              value: {{ lost }},
                              name: 'LOST'
                            },

                          ],
                          emphasis: {
                            itemStyle: {
                              shadowBlur: 10,
                              shadowOffsetX: 0,
                              shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                          }
                        }]
                      });
                    });
                  </script>
                  <!-- End Pie Chart -->

                </div>
              </div>
            </div>

            {% if perms.admin_panel.view_sales %}
            <!-- TOTAL SALES -->
            <div style="height: 450px" class="col-lg-6">
                <div class="card h-100">
                    <div class="card-header">

                        <div class="w-100 h-100 d-flex flex-wrap">
                            <div class="w-50 h-100 d-flex flex-wrap align-content-center">
                                <h5 class="card-title">Total Without Tax</h5>
                            </div>
                            <div class="w-50 h-100 d-flex flex-wrap align-content-center justify-content-end">
                                <button onclick="sales.salesSummary()" style="border-radius: 0 !important" class="btn btn-info rounded-0">SUMMARY</button>
                                <button onclick="sales.detailSales()" style="border-radius: 0 !important" class="btn btn-warning rounded-0">DETAILED</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="w-100 h-100 d-flex flex-wrap align-content-center justify-content-center">

                            <strong class="display-1">{{ sales.total }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

                </div>
            </div>
        </div>
    </div>
 <div class="w-100 h-100">

    <div style="height: 20%" class="pb-3 w-100">
        <div class="container-fluid p-0 h-100">
            <div class="row h-100">
                <!-- COUNT -->
                <div class="col-sm-2 h-100">
                    <div class="card bg-primary h-100">
                        <div class="card-header bg-primary">
                            <strong class="card-title text-light">TOTAL COUNT</strong>

                        </div>
                        <div class="card-body bg-light">
                            <div class="w-100 text-primary h-100 d-flex flex-wrap align-content-center justify-content-center">
                                <strong id="tot_count"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SYSTEM -->
                <div class="col-sm-2 h-100">
                    <div class="card h-100 bg-secondary">
                        <div class="card-header bg-secondary">
                            <strong class="card-title text-light">SYS QTY</strong>
                        </div>
                        <div class="card-body bg-light">
                            <div class="w-100 h-100 text-secondary d-flex flex-wrap align-content-center justify-content-center">
                                <strong id="sys_count"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- QTY DIFF -->
                <div class="col-sm-2 h-100">
                    <div class="card bg-warning h-100">
                        <div class="card-header bg-info">
                            <strong class="card-title text-dark">QTY DIFF</strong>
                        </div>
                        <div class="card-body bg-light">
                            <div class="w-100 h-100 text-info d-flex flex-wrap align-content-center justify-content-center">
                                <strong id="qty_diff"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- VALUE DIFFERENT -->
                <div class="col-sm-2 h-100">
                    <div class="card bg-danger h-100">
                        <div class="card-header bg-danger">
                            <strong class="card-title text-light">VAL DIFF</strong>
                        </div>
                        <div class="card-body bg-light">
                            <div class="w-100 text-danger h-100 d-flex flex-wrap align-content-center justify-content-center">
                                <strong id="val_diff"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TOOLS AND DETAILS -->
                <div class="col-sm-4 h-100">
                    <div class="card p-0 h-100">
                        <div class="card-body d-flex flex-wrap align-content-center p-1 h-100">
                            <table class="table table-bordered m-0 table-sm">
                                <tr><td><strong>LOC</strong></td><td><small class="text-info" id="loc"></small></td></tr>
                                <tr><td><strong>GROUP</strong></td><td><small class="text-info" id="group"></small></td></tr>
                                <tr><td><strong>TOOLS</strong></td><td>
                                    <div class="w-100 d-flex">
                                        <button onclick="exportExcel()" class="rounded-0 btn btn-sm btn-primary">EXPORT</button>
                                        <button id="remarks" onclick="alert(this.value)" class="rounded-0 btn btn-sm btn-info">REMARKS</button>
                                        <button id="infographic" class="btn btn-info btn-info"><i class="bi bi-pie-chart-fill"></i></button>
                                    </div>
                                </td></tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="height: 80%" class="card w-100 overflow-auto">

        <div class="h-100 p-0">
                <div class="w-100 h-100">
                    <div class="card p-2 h-100 recent-sales overflow-auto">



                        <div id="devsBody" class="card-body h-100 overflow-hidden">


                        </div>



                      </div>
                </div>
            </div>

    </div>

 </div>

    <script>
        let fdate = new Date(`{{ as_of }}`).toISOString().split('T')[0];
        let pk = `{{ pk }}`
        let group = `{{ group }}`

        cmms.compareAlone(fdate,'preview',pk,group)

        function exportExcel(){

            let payload = {
              "module": "stock",
              "data": {
                  "stage":"export",
                "compare":"final_compare",
                "as_of":fdate,
                "doc":'excel',
                "pk":pk,
                "group":group
              }
            };

            let response = api.call('VIEW',payload,'/cmms/api/')
            if(response['status_code'] === 200){
                alert(`<a href="/${response['message']}">DOWNLOAD FILE</a>`)
            } else {
                alert(response['message'])
            }


    }

    </script>
{% endblock %}