{% extends 'cmms/base.html' %}
{% load static %}

{% block cmms %}

    <div class="w-100 h-100">
        <div class="h-100 card">
            <div class="card-header bg-header1 h-25">
                <div class="container-fluid">

                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-sm-3 h-100">
                            <div class="w-100 d-flex flex-wrap">
                                <div class="w-50">
                                    <label for="entry">ENTRY</label><input type="text" id="entry" readonly class="form-control w-100 rounded-0" placeholder="entry">
                                </div>
                                <div class="w-25">
                                    <label for="key">key</label><input type="text" id="key" readonly class="form-control w-100 rounded-0" placeholder="entry">
                                </div>
                                <div class="w-25">
                                    <label for="stat">STATUS</label><input type="text" id="stat" readonly class="form-control w-100 rounded-0">
                                </div>
                            </div>

                            <label for="loc">LOCATION</label><input type="text" id="loc" readonly class="form-control w-100 rounded-0" placeholder="loc">
                            <label for="ref_freeze">REFERENCE</label><input type="text" readonly id="ref_freeze" class="form-control mb-2 w-100 rounded-0" placeholder="ref_freeze">

                        </div>



                        <div class="col-sm-5">
                            <label for="remark">REMARKS</label><textarea readonly class="form-control rounded-0" rows="5" name="remark" id="remark"></textarea>

                        </div>


                    </div>





                </div>

            </div>

            <div  class="card-body bg-tran1 h-100 p-2 overflow-auto">
                <table class='table table-bordered table-striped table-hover table-sm table-responsive'>
                <thead>
                  <tr><th>LN</th><th>ITEM REF</th><th>BARCODE</th><th>DESCRIPTION</th><th>FROZEN QTY</th></tr>
                </thead>
                <tbody id="devsBody">
{#                    <tr>#}
{#                        <td>1</td>#}
{#                        <td>ref</td>#}
{#                        <td>bcode</td>#}
{#                        <td>name</td>#}
{#                        <td>f_qty</td>#}
{#                    </tr>#}
                </tbody>
                </table>
            </div>

            <div class="card-footer bg-header1">
                <div class="w-100 h-100 d-flex">

                    <div class="dropdown dropup">
                        <!-- Dropdown Toggle Button -->
                        <button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info m-1"><i class="bh bi-grip-horizontal"></i></button>
                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'new-frozen' %}"><i class="bi bi-plus text-info"></i> NEW</a>
                          <a onclick="printSheet()" class="dropdown-item" href="javascript:void(0);"><i class="bi text-info bi-printer"></i> Print For Count</a>
                          <a onclick="cmms.approve('FR',$('#key').val())" class="dropdown-item" href="javascript:void(0);"><i class="bi bi-check text-success"></i>Approve</a>
                          <a onclick="kasa.info('FUNCTION NOT IMPLEMENTED')" class="dropdown-item" href="javascript:void(0);"><i class="bi bi-trash text-danger"></i>Delete</a>
                        </div>
                    </div>


                    <button onclick="loadHere(this.value)" id="prev" class="btn btn-info m-1"><i class="bh bi-skip-backward"></i></button>
                    <button onclick="loadHere(this.value)" id="next" class="btn btn-info m-1"><i class="bh bi-skip-forward"></i></button>

                </div>
            </div>

        </div>
    </div>


    <script>

        function loadHere(pk) {
            $('#devsBody').html('')
                let payload = {
                "module":"stock",
                "data":{
                    "stage":"frozen",
                    "pk":pk
                }
            }

            $('#key').val(pk)

            let response = api.call('VIEW',payload,'/cmms/api/')
            let status, message
            status = response['status_code']
            message = response['message']



            if(status === 200){
                let header,prev,next



                header = message['header']
                $('#loc').val(header['loc'])
                $('#ref_freeze').val(header['ref'])
                $('#remark').val(header['remarks'])
                $('#stat').val(header['approve'])

                prev = header['prev']
                next = header['next']

                console.table(prev)
                console.table(next)

                let entry = `FR${header['loc']}${header['pk']}`
                $('#entry').val(entry)

                if(prev['valid'] === 'Y'){
                    // enable
                    $("#prev").prop("disabled", false);
                    $('#prev').val(prev['pk'])
                } else {
                    // disable
                    $("#prev").prop("disabled", true);
                }

                if(next['valid'] === 'Y'){
                    // enable
                    $("#next").prop("disabled", false);
                    $('#next').val(next['pk'])
                } else {
                    // disable
                    $("#next").prop("disabled", true);
                }

                let tr = '';

                for (let i = 0; i < message['trans'].length; i++) {
                    let line = i
                    let tran = message['trans'][i]

                    $('#devsBody').append(
                        `<tr>
                            <td>${line + 1}</td>
                            <td>${tran['item_ref']}</td>
                            <td>bco${tran['barcode']}de</td>
                            <td>${tran['name']}</td>
                            <td>${tran['qty']}</td>
                        </tr>`
                    )
                }

            }

        }
        function printSheet(compare='count_sheet',doc='fr') {
            let payload = {
                'module':'stock',
                data:{
                    stage:'preview',
                    compare:'count_sheet',
                    key:$('#key').val(),
                    doc:doc

                }
            }

            let response = api.call('VIEW',payload,'/cmms/api/')

            if(response['status_code'] === 200){

                {#kasa.html(`<a target="_blank" href="/${response['message']}">DOWNLOAD FILE</a>`)#}

                windowPopUp(`/${response['message']}`,'PRINT',1000,1000)

            } else {
                kasa.warning(response['message'])
            }

        }
        loadHere(`{{ f_pk }}`)
        
        


    </script>

{% endblock %}