{% extends 'cmms/base.html' %}
{% load static %}

{% block cmms %}

    <div class="w-100 h-100">
        <div class="h-100 card">
            <div class="card-header">
                <div class="w-100 h-100 d-flex flex-wrap">
                    <div class="w-50 h-100 d-flex flex-wrap">
                        <input type="text" id="loc" class="form-control w-25 rounded-0" placeholder="loc">
                        <input type="text" id="ref_freeze" class="form-control w-25 rounded-0" placeholder="ref_freeze">
                        <input type="text" id="remark" class="form-control w-50 rounded-0" placeholder="remark">
                    </div>

                    <div class="w-50 h-100 d-flex flex-wrap justify-content-end">
                        <input accept="text/csv" id="csvFileInput" type="file" class="form-control w-50 rounded-0" placeholder="loc">
                        <button onclick="cmms.loadFrozen()" class="btn btn-info btn-sm w-25">LOAD</button>
                    </div>

                </div>

            </div>

            <div  class="card-body h-100 p-2 overflow-auto">
                <table class='table table-bordered table-striped table-hover table-sm table-responsive'>
                <thead>
                  <tr><th>ITEM REF</th><th>BARCODE</th><th>DESCRIPTION</th><th>FROZEN QTY</th></tr>
                </thead>
                <tbody id="devsBody">

                </tbody>
                </table>
            </div>

            <div class="card-footer">
                <button onclick="cmms.saveFrozen()" class="btn btn-success">SAVE FROZEN</button>
            </div>

        </div>
    </div>

{% endblock %}