{% extends 'cmms/base.html' %}

{% load static %}

{% block cmms %}
   <div class="w-100 h-100 card">
    <div class="card-header">
        <div class="modal fade" id="newCust">
            <div class="modal-dialog modal-xl">
                <form id="saveCust" method="post" action="{% url 'save_sales_customer' %}" class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title">Adding New Customer</p>
                    </div>
                    <div class="modal-body p-2">

                        <div class="container p-0">
                            <div class="row no-gutters">

                                <!-- CONTACT -->
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <small class="card-title">Customer Details</small>
                                        </div>
                                        <div class="card-body p-2">
                                            <label for="company">Organization</label><input type="text" name="company" id="company" required autocomplete="off" class="form-control form-control-sm rounded-0 mb-2">
                                            <!-- NAME -->
                                            <label for="name">Name</label><input type="text" name="name" id="name" required autocomplete="off" class="form-control form-control-sm rounded-0 mb-2">
                                            <!-- TELEPHONE -->
                                            <label for="mobile">Contact Number</label><input type="tel" name="mobile" id="mobile" required autocomplete="off" class="form-control form-control-sm rounded-0 mb-2">
                                            <!-- EMAIL -->
                                            <label for="email">Email</label><input type="email" name="email" id="email" required autocomplete="off" class="form-control form-control-sm rounded-0 mb-2">
                                            <!-- ADDRESS -->
                                            <label for="address">Address</label><textarea required class="form-control form-control-sm rounded-0" name="address" id="address" cols="30" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group card mb-2">
                                        {% csrf_token %}
                                        <div class="card-header">
                                            <small class="card-title">Other Infor</small>
                                        </div>
                                        <div class="card-body p-2">
                                            <label for="type_of_client">Type Of Client</label><select class="form-control form-check-sm rounded-0 mb-2" id="type_of_client" name="type_of_client">
                                              <option value="Private Individual">Private Individual</option>
                                              <option value="Private Company">Private Company</option>
                                              <option value="Government">Government</option>
                                              <option value="Walk In">Walk In</option>
                                              <option value="Tender">Tender</option>
                                              <option value="Bank Financed">Bank Financed</option>
                                            </select>
                                            <label for="requirement">Requirement</label><textarea required class="form-control form-control-sm rounded-0" name="requirement" id="requirement" cols="30" rows="2"></textarea>
                                            <label for="purc_reason">Reason Of Purchase</label><textarea required class="form-control form-control-sm rounded-0" name="purc_reason" id="purc_reason" cols="30" rows="2"></textarea>
                                            <hr>
                                            <small class="text-info">optional but vital information</small> <br>
                                            <label for="age_of_cur">Age Of Current Car</label><input min="0" value="0" type="number" name="age_of_cur" class="form-control mb-2 form-control-sm rounded-0" id="age_of_cur">
                                            <!-- CAR TYPE -->
                                            <label for="cur_car_det">Car Detail ( Brand/ Model )</label><input required value="unknown" type="text" name="cur_car_det" class="form-control mb-2 form-control-sm rounded-0" id="cur_car_det">

                                            <input type="hidden" required name="owner" value="{{ user.pk }}">

                                        </div>



                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">SAVE</button>
                    </div>

                </form>
            </div>
        </div>
        <button data-bs-target="#newCust" data-bs-toggle="modal" class="btn btn-info">NEW CUSTOMER</button>
{#        <button onclick="location.href='{% url 'new_sales_customer' %}'" class="btn btn-info">REGISTER CUSTOMER</button>#}
    </div>
    <div class="card-body overflow-hidden">
        <table class="table table-sm datatable table-hover">
            <thead>
                <tr>
                    <th>CUSTOMER</th>
                    <th>COMPANY</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="tBody">
{#                {% for customer in customers %}#}
{#                    <tr ondblclick="windowPopUp(`{% url 'sales_customer_transactions' customer.pk %}`,'',1024,700)" class="pointer">#}
{#                        <td>{{ customer.name }}</td>#}
{#                        <td>{{ customer.company }}</td>#}
{#                        <td>{{ customer.mobile }}</td>#}
{#                        <td>{{ customer.email }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
            </tbody>
        </table>
    </div>
   </div>

    <script>
        let customers = cmms_sales.getCustomer('all')

        if(customers['status_code'] === 200)
        {
            let tr = '';
            for (let i = 0; i < customers['message'].length; i++) {
                let customer = customers['message'][i]
                tr += `<tr>
                            <td>${customer['name']}</td>
                            <td>${customer['company']}</td>
                            <td>${customer['mobile']}</td>
                            <td>${customer['email']}</td>
                            <td><i onclick="kasa.info('TRANSACTIONS FUNCTION')" class="bi bi-translate pointer"></i></td>
                        </tr>`

            }
            $('#tBody').html(tr)
        } else {
            kasa.info(customers['message'])
        }
    </script>

{% endblock %}