{% extends 'cmms\base.html' %}

{% block cmms %}
 <div class="w-100 h-100">

    <div class='container h-100'>
      <div class='row h-100 d-flex flex-wrap justify-content-center'>
        <div class='col-sm-12 h-100'>
          <div style='height:10%' class='w-100 d-flex flex-wrap'>
            
            <div class="search-bar">
              <div class="search-form bg-info d-flex align-items-center" >
                <input class='form-control w-100 rounded-0' type="text" name="stock_add_barcode" id="stock_add_barcode" placeholder="Search" title="Enter search keyword">
                <button class='btn' type="button" id="stockFind" title="Barcode"><i class="bi bi-search"></i></button>
              </div>
            </div>


            
          </div>

          <div style='height:80%' class='w-100 table-responsive'>
            <table class='table table-sm table-bordered table-stripped'>
              
              <thead><tr><th>BARCODE</th><th>NAME</th><th>QTY</th><th>PRICE</th><th>VALUS</th><th>BY</th></tr></thead>
              <tbody id='tbody'>
              </tbody>

            </table>
          </div>

        </div>
      </div>
    </div>

    <script>cmms.stockPreview()</script>
 </div>
{% endblock %}