
{% extends 'blog/base.html' %}
{% load static %}

{% block body %}


    <div class="container mt-5" style="padding-top: 60px">
        <div class="row d-flex flex-wrap justify-content-center no-gutters">
            <!-- ARTICLE -->
            <div class="col-sm-8" style="font-size: large">

                <h1 class="font-weight-bolder">{{ article.title }}

                </h1>

                <p class="text-muted font-italic">Posted on {{ article.date_created }} by {{ article.owner }} {% if login.mymeta == '*' %}
                        <a class="" href="{% url 'edit_article' article.uni %}">Edit</a>
                    {% endif %}</p>

                <p class="d-flex flex-wrap w-100">

                    <span class="badge badge-dark mr-1">Meta</span>
                    <span class="badge badge-dark mr-1">Meta</span>
                </p>

                <img class="img-fluid" src="../{{ article.image }}" alt="Card image">

                {{ article.article | safe }}

                <!-- COMMENTS -->
                <hr>
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <textarea name="" id="" class="form-control" placeholder="Join the discussion and leave a comment" rows="3"></textarea>#}
{#                        <hr>#}
{##}
{#                        <div class="row mb-2 border-bottom">#}
{#                            <div class="col-sm-1">#}
{#                                <div style="width: 50px; height: 50px" class="bg-dark rounded-circle">#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-11">#}
{#                                <strong>Commenter Name</strong>#}
{#                                <p>#}
{#                                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row mb-2 border-bottom">#}
{#                            <div class="col-sm-1">#}
{#                                <div style="width: 50px; height: 50px" class="bg-dark rounded-circle">#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-11">#}
{#                                <strong>Commenter Name</strong>#}
{#                                <p>#}
{#                                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{##}
{##}
{#                </div>#}

            </div>


        </div>
    </div>

{% endblock %}