{% extends 'blog/base.html' %}
{% load static %}

{% block body %}

    <form class="h-100 card" action="{% url 'edit_save' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
{#                {% for f in form %}#}
{#                    {{ f }}#}
{#                {% endfor %}#}

                <div class="w-100 card-header d-flex flex-wrap justify-content-between">
                    <div class="input-group w-45 mb-2">
                        <div class="input-group-prepend bg-light border-0">
                            <span class="input-group-text bg-light border-0 text-danger">Post Title</span>
                        </div>
                        <input type="text" value="{{ article.title }}" autocomplete="off" required name="page_title" class="form-control rounded-0 border-danger">
                    </div>

                    <div class="input-group w-25 mb-2">
                        <div class="input-group-prepend bg-light border-0">
                            <span class="input-group-text bg-light border-0 text-danger">Meta</span>
                        </div>
                        <select name="meta" class="form-control rounded-0 border-danger" id="">
                            {% for meta in meta_dat %}
                                <option value="{{ meta.tag_code }}">{{ meta.tag_dec }}</option>
                            {% endfor %}

                        </select>
                    </div>

{#                    <input type="file" accept="image/jpeg" name="post_img">#}
                    <input type="hidden" name="uni" value="{{ article.uni }}">



                </div>

                 <div class="card-body">
                     <textarea name="article_desc" class="tinymce-editor">{{ article.article }}</textarea>

                 </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success rounded-0 h-fit">SAVE CHANGES</button>
                </div>

            </form>

{% endblock %}