{% extends 'blog/base.html' %}
{% load static %}



{% block body %}

    <div class="card-body h-100">

        <div class="container py-3 overflow-auto">

            <div class="row no-gutters">
                <div style="height: 300px" class="col-sm-12 bg-dark-light p-5 rounded_c d-flex flex-wrap align-content-center">
                    <div>
                        <h1>TITLE</h1>
                        <div class="w-50">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque autem corporis dolor doloribus eaque earum est, eum exercitationem ipsa ipsam laborum molestiae neque nisi possimus soluta voluptatibus. Magnam, vel?
                            </p>
                        </div>
                        <a href="#">Read More ></a>
                    </div>
                </div>

                {% for article in articles %}

                    <div class="col-sm-6  p-2" style="height: 200px">c
                        <div  class="rounded_c d-flex flex-wrap border overflow-hidden h-100">

                            <div class="w-75 p-3 bg-dark-light h-100">
                                <h3 class="ellipsis">{{ article.title }}</h3>
                                <p class="ellipsis_2">
                                    {{ article.article | striptags | slice:":100"  }}
                                </p>
                                <a href="javascript:void(0)">Continue Reading</a>
                                <div class="w-100">
                                    <span class="badge bg-info">tag</span> <span class="badge bg-info">tag</span>
                                </div>

                            </div>

                            <div style="background: url('{{ article.image.url }}')" class="w-25 h-100 img_bg">

                            </div>

                        </div>
                    </div>

                {% endfor %}



            </div>

        </div>

    </div>

{% endblock %}