
{% extends 'blog/base.html' %}
{% load static %}

{% block body %}

    <div class="container h-100">
        <div class="row h-100 d-flex flex-wrap align-content-center justify-content-center">
            <div class="col-sm-3 p-2">
                <button onclick="location.href='{% url 'finder' %}'" type="button" class="btn w-100 btn-outline-primary text-center tool_button">
                    <i class="fa fa-3x fa-search"></i> <br><br> Finder
                </button>
            </div>

            <div class="col-sm-3 p-2">
                <button onclick="location.href='{% url 'community' %}'" class="btn w-100 btn-outline-warning text-center tool_button">
                    <i class="fa fa-3x fa-question-circle"></i> <br><br> Support Center
                </button>
            </div>

            <div class="col-sm-3 p-2">
                <button onclick="location.href='{% url 'stream' %}'" class="btn w-100 btn-outline-danger text-center tool_button">
                    <i class="fa fa-3x fa-question-circle"></i> <br><br> Videos Streams
                </button>
            </div>

        </div>
    </div>

{% endblock %}