
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'general/css/all.css' %}">
<link rel="icon" type="image/png" href="{% static 'general/img/icons/16.png' %}">
    <script src="{% static 'general/js/all.js' %}"></script>
    {% if page_title %}
       <title> {{ page_title }} </title>
    {% else %}
        <title>Ocean | Power Of Sharing</title>
    {% endif %}

</head>
<body class="img_bg" style="height: 100vh; background: url('{% static 'general/img/bg/bg_wall1.jpg' %}')">
    <form id="regular_form" method="post" action="{% url 'login_process' %}" class="container-fluid bg_trans_80 login_form h-100 overflow-hidden">
      <div class="row h-100 d-flex justify-content-center align-items-center">
          {% csrf_token %}


        <div class="col-sm-2">
          <div class="card bg_trans_80 custom_shadow" style="border-radius: 1rem;">

              <div class="card-body text-center">
                
                  <div class="">
                  
                    <div class="text-center">
                        <div class="w-25 mx-auto mb-5">
                            <img src="{% static 'general/img/icons/96.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                      <input required name="email" autocomplete="off" id="inputEmail" type="text" placeholder="username" class="form-control form-control-sm rounded-0" />
                    </div>
    
    
                    <div class="form-outline form-white mb-4">
                      <input required name="password" id="inputPassword" type="password" placeholder="Password" class="form-control form-control-sm rounded-0" />
                    </div>
                      <input type="hidden" name="next" value="{{ next }}">
                      {% if messages %}
                        {% for message in messages %}
                    
                            <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error!</strong> {{ message }}
                          </div>
    
                        {% endfor %}
                    {% endif %}
                    <button class="btn btn-primary w-100 btn-sm rounded-0 px-5 mb-4" type="submit">Login</button>
    
                    <hr>
                    <div class="w-100 d-flex flex-wrap justify-content-between">
                        <p class="small"><a class="" href="#!">Forgot password?</a></p>
                        <p class="small"><a class="" href="{% url 'new-user' %}">Register</a></p>
                    </div>
    
    
                    <!-- <div class="d-flex justify-content-center text-center m-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div> -->
    
                  </div>
    
                </div>
        </div>
        </div>

      </div>


    </form>
</body>
</html>
