{% extends 'dolphine/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block main %}

        <div class="row h-100 overflow-hidden">
{#            <!-- LEFT PANE -->#}
{#            <div class="col-sm-3 h-100"></div>#}

            <!-- CENTER -->
            <div class="col-sm-12 text-muted h-100">



                {% if files.count > 0 %}
                    <div class="card recent_files">
                        <div class="card-header">
                            <div class="w-100 d-flex flex-wrap align-content-center justify-content-between">
                                <h5 class="card-title p-0 m-0">
                                    DOLPHIN
                                </h5>
                                <button onclick="location.href='{% url 'home' %}'" class="btn btn-sm btn-primary">HOME</button>
                            </div>
                        </div>
                        <div class="card-body overflow-auto p-2">
                            <table class="table">
                                <thead class="bg-dark text-light">
                                    <tr>
                                        <th>Name</th><th>Date</th><th>Size</th><th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                    <tr>
                                        <td>{{ file.filename }}</td>
                                        <td>{{ file.time }}</td>
                                        <td>{{ file.size | filesizeformat }}</td>
                                        <td>
                                            <div class="w-100 d-flex flex-wrap justify-content-between">
                                                <i onclick="location.href='{% url 'download_file' file.enc %}'" class="fa pointer fa-download"></i>
                                                <i class="fa pointer text-info fa-eye mr-2"></i>
                                                <i onclick="location.href='{% url 'delete_file' file.enc %}'" class="fa text-danger pointer fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="w-100 h-100 d-flex flex-wrap align-content-center justify-content-center">
                        <div class="alert alert-info">
                            Drop files to start upload
                        </div>
                    </div>
                {% endif %}

            </div>

{#            <!-- RIGHT PANE -->#}
{#            <div class="col-sm-3 h-100">#}

            </div>

        </div>

    {% endblock %}
</body>
</html>