{% extends 'dolphine/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block main %}
        <div class="modal" id="rmbg">
            <div class="modal-dialog">
                <form id="imageUploadForm" action="{% url 'rmbg' %}" method="post" enctype="multipart/form-data" class="modal-content">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="w-50 mx-auto m-2">
                            <img id="imagePreview" src="https://placehold.co/600x600?text=SELECT + IMAGE" alt="" class="img-fluid img-thumbnail ">
                        </div>
                        <input id="imageInput" name="image" type="file" accept="image/jpeg" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <a href="" id="resultMessage"></a>
                        <button id="uploadButton" class="btn btn-info">UPLOAD</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row h-100 overflow-hidden">
{#            <!-- LEFT PANE -->#}
{#            <div class="col-sm-3 h-100"></div>#}

            <!-- CENTER -->
            <div class="col-sm-12 text-muted h-100">



                {% if files.count > 0 %}
                    <div class="card recent_files">
                        <div class="card-header">
                            <div class="w-100 d-flex flex-wrap align-content-center justify-content-between">
                                <h5 class="card-title p-0 m-0">
                                    DOLPHIN
                                </h5>
                                <div class="w-50 d-flex flex-wrap justify-content-end">
                                    <button data-bs-target="#rmbg" data-bs-toggle="modal" class="btn btn-sm btn-primary">RMIMGBG</button>
                                    <button onclick="location.href='{% url 'home' %}'" class="btn btn-sm btn-primary">HOME</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body overflow-auto p-2">
                            <table class="table">
                                <thead class="bg-dark text-light">
                                    <tr>
                                        <th>Name</th><th>Date</th><th>Size</th><th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                    <tr>
                                        <td>
                                            <i onclick="location.href='{% url 'download_file' file.enc %}'" class="fa pointer text-success fa-download"></i> &spar;
                                            {{ file.filename }}</td>
                                        <td>{{ file.time }}</td>
                                        <td>{{ file.size | filesizeformat }}</td>
                                        <td>
                                            <div class="w-100 d-flex flex-wrap justify-content-between">
                                                <i class="fa pointer text-info fa-eye mr-2"></i>
                                                <i onclick="location.href='{% url 'delete_file' file.enc %}'" class="fa text-danger pointer fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="w-100 h-100 d-flex flex-wrap align-content-center justify-content-center">
                        <div class="alert alert-info">
                            Drop files to start upload
                        </div>
                    </div>
                {% endif %}

            </div>

{#            <!-- RIGHT PANE -->#}
{#            <div class="col-sm-3 h-100">#}

            </div>

        </div>

        <script>
    // Get references to the input and image elements
    const imageInput = document.getElementById('imageInput');
    const imagePreview = document.getElementById('imagePreview');

    // Add an event listener to the input element to listen for changes
    imageInput.addEventListener('change', function() {
      // Check if a file has been selected
      if (imageInput.files && imageInput.files[0]) {
        // Create a FileReader object
        const reader = new FileReader();

        // Define the function to run when the file is loaded
        reader.onload = function(e) {
          // Set the source of the image element to the loaded file data
          imagePreview.src = e.target.result;

          // Display the image element
          imagePreview.style.display = 'block';
        };

        // Read the selected file as a data URL
        reader.readAsDataURL(imageInput.files[0]);
      }
    });
  </script>

         <script>
    $(function() {
        //general/img/icons/2.gif

      $('#imageUploadForm').submit(function(event) {
          $('#imagePreview').attr('src', `/static/general/img/icons/2.gif`);
          event.preventDefault()
        // Create a FormData object to store form data, including the selected image
        var formData = new FormData($('#imageUploadForm')[0]);

        $.ajax({
          url: '/dolphine/rmbg/',  // Replace with the actual URL to your Django view
          type: 'POST',
          data: formData,
          processData: false,  // Prevent jQuery from processing the data
          contentType: false,  // Prevent jQuery from setting the content type
          success: function(response) {
            // Handle the response from the server
            let status,message;
            console.table(response)
            status = response['success'];
            message = response['message'];
            if(status === true){
                // replace image
                $('#resultMessage').html(`<a href="/${message}">DOWNLOAD</a>`)
                $('#imagePreview').attr('src', `/${message}`);
            } else {
                kasa.info(message)
            }
          },
          error: function(xhr, status, error) {
            console.error('Error:', error);
            $('#resultMessage').text('An error occurred while uploading the file.');
          }
        });
      });
    });
  </script>

    {% endblock %}
</body>
</html>