{% extends 'dashboard/products/prod_base.html' %}
{% load static %}

{% block body %}

    <div class="w-100 panel container-fluid" style="height: 75vh; overflow: auto">
        <div class="panel-sub-heading">
            <button onclick="location.href='{% url 'new-product' %}'" class="btn btn-sm btn-info">NEW</button>
        </div>

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Top Selling -->
                    <div class="col-12">
                      <div class="card top-selling overflow-auto">



                        <div class="card-body pb-0">
                          <h5 class="card-title">Products</h5>

                          <table class="table table-borderless">
                            <thead>
                              <tr>
                                <th scope="col">Preview</th>
                                  <th scope="col">Barcode</th>
                                <th scope="col">Product</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Stock</th>
                                  <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                  <tr>
                                    <th scope="row"><a href="#"><img src="/{{ product.prod_img }}" alt=""></a></th>
                                      <td>{{ product.barcode }}</td>
                                    <td><a href="#" class="text-primary fw-bold">{{ product.shrt_descr }}</a></td>

                                    <td>{{ product.supplier.company }}</td>
                                      <td onclick="pClass.Stock({{ product.pk }})" class="fw-bold">{{ product.stock }}</td>
                                  <td><div class="w-100 d-flex flex-wrap">
                                      <button onclick="location.href='{% url 'adjust_product_qty' product.pk %}'" class="btn btn-xs btn-info">ADJ</button>

                                  </div></td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                          </table>

                        </div>

                      </div>
                    </div><!-- End Top Selling -->
                </div>
            </div>
        </section>

    </div>

{% endblock %}