{% extends "servicing/base.html" %}
{% load static %}

{% block body %}

    <!-- HEADER -->
    <div class="card-header">
        <div class="w-100 h-100 d-flex flex-wrap">

            <div class="w-75 h-100 d-flex flex-wrap">
                <button onclick="location.href='{% url 'newjob' %}'" style="margin-right: .2em" class="btn btn-outline-primary"><i class="fa fa-plus"></i></button>
                <button id="find_job" onclick="findJobScreen()" style="margin-right: .2em" class="btn btn-outline-info"><i class="fa fa-search"></i></button>
                <button onclick="if(confirm('ARE YOU SURE?')){deleteJobCard(this.value)}" id="delete" style="margin-right: .2em" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                <button onclick="if(confirm('ARE YOU SURE YOU WANT TO CLOSE SERVICE?')){updateDocument(2)}" id="close" style="margin-right: .2em" class="btn btn-outline-warning"><i class="fa fa-door-closed"></i> close</button>
                <button id="update" onclick="ticket.updateTranScreen()" style="margin-right: .2em" class="btn btn-outline-info"><i class="fa fa-assistive-listening-systems"></i> update ticket</button>
                <button id="send_to_client" onclick="ticket.sendToClient($('#delete').val())" style="margin-right: .2em" class="btn btn-outline-success"><i class="fa fa-mail-bulk"></i> client</button>
                <button id="send_to_provider" onclick="mail_provider()" style="margin-right: .2em" class="btn btn-outline-dark"><i class="fa fa-mail-bulk"></i> provider</button>
                <button onclick="windowPopUp(`/servicing/jobcard/tracking/${$('#delete').val()}/`,'none',500,1024)" class="btn btn-info"><i class="fa fa-list"></i></button>
                <input type="hidden" id="cardno">
                <input type="hidden" id="task">
            </div>
            <div class="w-25 h-100 d-flex flex-wrap justify-content-end">

                <button id="prev" onclick="svc.pendingCards()" style="margin-right: .2em" class="btn btn-outline-primary">PENDING</button>
                 <button id="prev" onclick="loadJobCard(this.value)" style="margin-right: .2em" class="btn btn-outline-info"><i class="bi bi-skip-backward-btn"></i></button>
                <button id="next" onclick="loadJobCard(this.value)" style="margin-right: .2em" class="btn btn-outline-info"><i class="bi bi-skip-forward-btn"></i></button>
            </div>

        </div>
    </div>

    <!-- BODY -->
    <div class="card-body p-2 overflow-auto">
        <div class="container h-100">
            <div class="row h-100 no-gutters">
                <!-- CLIENT DETAILS -->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong class="card-title">Client</strong></div>
                        <div class="card-body p-2">
                            <!-- NAME -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">NAME</small>
                                </div>
                                <input required readonly type="text" class="form-control rounded-0 form-control-sm" id="client_name">
                            </div>

                            <!-- EMAIL -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">EMAIL</small>
                                </div>
                                <input required readonly  type="email" class="form-control rounded-0 form-control-sm" id="client_email">
                            </div>

                            <!-- CONTACT -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">PHON</small>
                                </div>
                                <input type="tel" required readonly  class="form-control rounded-0 form-control-sm" id="client_phone">
                            </div>


                        </div>
                    </div>
                </div>

                <!-- SERVICE DETAILS -->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong class="card-title">Service Details</strong></div>
                        <div class="card-body p-2">
                            <!-- NAME -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">SERVICE MAST</small>
                                </div>
                                <input required readonly  type="text" class="form-control rounded-0 form-control-sm" id="service">
                            </div>

                            <!-- EMAIL -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">SERVICE SUB</small>
                                </div>
                                <input required readonly  type="email" class="form-control rounded-0 form-control-sm" id="service_sub">
                            </div>

                            <!-- CONTACT -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">STATUS</small>
                                </div>
                                <input type="text" required readonly value="" class="form-control rounded-0 form-control-sm" id="status">
                            </div>


                        </div>
                    </div>
                </div>

                <!-- TECHNICIAN -->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong class="card-title">TECHNICAL</strong></div>
                        <div class="card-body p-2">
                            <!-- EMAIL -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">APP</small>
                                </div>
                                <input required readonly type="text" class="form-control rounded-0 form-control-sm" id="app">
                            </div>
                            <!-- NAME -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">ASSIGNED TO.</small>
                                </div>
                                <input required readonly type="text" class="form-control rounded-0 form-control-sm" id="technician">
                            </div>

                            <!-- CONTACT -->
                            <div class="input-group imput-group-sm mb-2">
                                <div class="input-group-prepend rounded-0">
                                    <small class="input-group-text rounded-0">PHON</small>
                                </div>
                                <input type="tel" required readonly  class="form-control rounded-0 form-control-sm" id="techphone">
                            </div>






                        </div>
                    </div>
                </div>

                <!-- TICKET DETAILS -->
                <div style="height: 60%" class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong class="card-title">Ticket Details</strong>
                        </div>
                        <div class="card-body overflow-auto p-2">
                            <h2 id="task_title"></h2>
                            <div id="taskdesc"></div>
                        </div>
                    </div>
                </div>

                <!-- TRANSACTIONS -->
                <div style="height: 60%" class="col-sm-6">
                    <div class="card h-100">
                        <div class="card-header p-2">
                            <!-- Nav pills -->
                            <ul class="nav nav-pills">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#home">TRANSACTIONS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu1">MATERIALS</a>
                              </li>
                            </ul>
                        </div>
                        <div class="card-body overflow-auto p-2">


                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane container active" id="home">
                                  <table class="table table-sm table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>TITLE</th><th>DESCRIPTION</th><th>BY</th><th>DATE CREATED</th>
                                    </tr>
                                </thead>
                                <tbody id="ticketTrans">

                                </tbody>
                            </table>
                              </div>
                              <div class="tab-pane container fade" id="menu1">
                                  <table class="table table-sm table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>LINE</th>
                                        <th>NAME</th>
                                        <th>DESCRIPTION</th>
                                        <th>PRICE</th>
                                        <th>QTY</th>
                                        <th>COST</th>
                                    </tr>
                                </thead>
                                <tbody id="materialRows">

                                </tbody>
                            </table>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        function loadJobCard(cardno){
            let payload = {
                module:'servicecard',
                data:{
                    cardno:cardno
                }
            };

            let request = api.call('VIEW',payload,'/servicing/api/');
            console.table(request)
            if(request['status_code'] === 200){
                $('#close').val(cardno)
                let service = request['message'];
                let client = service['client'];
                let materials = service['materials'];
                let next = service['next'];
                let owner = service['owner'];
                let prev = service['prev'];
                let srvice = service['service']['main'];
                let subservice = service['service']['sub'];
                let technician = service['technician'];
                let ticket = service['ticket'];
                let timedata = service['timedata'];
                let task = service['task'];

                $('#task').val(task['uni']);

                // html modifications
                if(next['count'] > 0){
                    $('#next').prop('disabled',false);
                    $('#next').val(next['nextcode']);
                } else {
                    $('#next').prop('disabled',true);
                }
                if(prev['count'] > 0){
                    $('#prev').prop('disabled',false);
                    $('#prev').val(prev['code']);
                } else {
                    $('#prev').prop('disabled',true);
                }

                // check status
                statusCheck(service['status'])

                $('#delete').val(cardno)

                $('#client_name').val(client['fullname']);
                $('#client_email').val(client['email']);
                $('#client_phone').val(client['phone'])

                // service
                $('#service').val(srvice['name']);
                $('#service_sub').val(subservice['name']);
                if(service['status'] === 1){
                    $('#status').val("OPEN")
                    $('#status').removeClass('text-success')
                    $('#status').removeClass('text-danger')
                    $('#status').removeClass('text-warning')
                    $('#status').addClass('text-info')
                } else if (service['status'] === 0){
                    $('#status').val("DELETED")
                    $('#status').removeClass('text-warning')
                    $('#status').removeClass('text-success')
                    $('#status').removeClass('text-info')
                    $('#status').addClass('text-danger')
                } else if (service['status'] === 2){
                    $('#status').val("CLOSED")
                    $('#status').removeClass('text-warning')
                    $('#status').removeClass('text-danger')
                    $('#status').removeClass('text-info')
                    $('#status').addClass('text-success')
                } else {
                    $('#status').val("UNKNOWN")
                    $('#status').removeClass('text-success')
                    $('#status').removeClass('text-danger')
                    $('#status').removeClass('text-info')
                    $('#status').addClass('text-warning')

                }

                $('#app').val(service['app']['name'])

                //technician
                $('#technician').val(technician['fullname']);
                $('#techphone').val(technician['phone']);
                $('#cardno').val(cardno)

                // materials
                let mats = ''
                for (let m = 0; m < materials.length ; m++) {
                    let mat = materials[m]
                    mats += `
                        <tr>
                                        <td>${mat['line']}</td>
                                        <td>${mat['item']}</td>
                                        <td>${mat['description']}</td>
                                        <td>${mat['price']}</td>
                                        <td>${mat['quantity']}</td>
                                        <td>${mat['total_price']}</td>
                                    </tr>
                    `
                }
                $('#materialRows').html(mats);

                $('#update').val(ticket['hd']['pk']);

                $('#task_title').html(ticket['hd']['title']);
                $('#taskdesc').html(ticket['hd']['description']);

                // tickets
                let ticket_trans = ticket['trans'];
                let t_rows = '';
                $('#ticketTrans').html(t_rows);
                for (let tt = 0; tt < ticket_trans.length; tt++) {
                    let tran = ticket_trans[tt];
                    t_rows += `<tr><td><small>${tran['title']}</small></td><td><small>${tran['descr']}</small></td><td><small>${tran['owner']['fullname']}</small></td><td><small>${tran['date']}</small></td></tr>`
                }
                $('#ticketTrans').html(t_rows);



            } else {
                alert(request['message'])
            }

            amodal.hide()
        }

        function statusCheck(status){
            let del,close,update,send;

            del = $('#delete');
            close = $('#close');
            update = $('#update');
            send = $('#send_to_client');

            switch (status) {
                case 0:
                    // deleted => disable('delete',close,update,send)
                    del.prop('disabled',true);
                    close.prop('disabled',true);
                    update.prop('disabled',true);
                    send.prop('disabled',true);

                    break;
                case 1:
                    //open
                    del.prop('disabled',false);
                    close.prop('disabled',false);
                    update.prop('disabled',false);
                    send.prop('disabled',false);
                    break;
                case 2:
                    // closed
                    del.prop('disabled',true);
                    close.prop('disabled',true);
                    update.prop('disabled',true);
                    send.prop('disabled',true);
                    break;
                default:

            }

        }

        // delete job card
        function deleteJobCard() {
            updateDocument(0)

        }

        function updateDocument(status){
            if(status < 0 || status > 2){
                kasa.error("INVALID SETTINGS")
            } else {
                let payload = {
                module:'jobcardstatus',
                data: {
                    'cardno':$('#cardno').val(),
                    'status':status
                    }
                };
                alert(api.call(
                    'PATCH',payload,'/servicing/api/'
                )['message']);
                loadJobCard(cardno);
            }
        }

        // load first card
        loadJobCard(`{{ cardno }}`)

        // find job card screen
        function findJobScreen() {
            amodal.setTitleText(`<input id="jobstring" onkeyup="findJob()" class="form-control rounded-0 w-100" placeholder="enter string" >`)
            amodal.setBodyHtml(`<div class="table-responsive"><table class="table table-sm"><thead><tr><th>JOB CARD</th><th>TITLE</th><th>OWNER</th><th>DATE</th></tr></thead><tbody id="queryresults"></tbody></table></div>`)

            amodal.show()
        }

        // find job
        function findJob() {
            let jobstring = $('#jobstring').val();
            let payload = {
                module:'findjob',
                data:{
                    jobstring:jobstring
                }
            };

            let jobquery = api.call('VIEW',payload,'/servicing/api/');
            console.table(jobquery);
            let queryresults = ''
            if(jobquery['status_code'] === 200){

                let results = jobquery['message'];

                for (let r = 0; r < results.length; r++) {
                    let result = results[r];
                    queryresults += `<tr><td><small class="pointer text-info" onclick="loadJobCard('${result['cardno']}');amodal.hide(false)" >${result['cardno']}</small></td><td title="${result['description']}"><small>${result['title']}</small></td><td><small>${result['owner']}</small></td><td><small>${result['date']}</small></td></tr>`;
                }

            } else {
                queryresults = `<tr><td><small class="text-danger">${jobquery['message']}</small></td></tr>`;
                console.log(jobquery['message']);
            }
            $('#queryresults').html(queryresults);
        }


        function mail_provider() {
            mailer.new_email_screen()
            let client_address = $('#client_email').val();
            let provider_email = 'solomon@sedaghana.com';
            let it_manager = 'solomon@snedaghana.com;bharat@snedaghana.com;ajay@snedaghana.com';
            let cc = `${client_address};${it_manager}`
            let title = $('#task_title').text()
            let taskdesc = $('#taskdesc').text()
            let task = $('#task').val()
            taskdesc += `<br><br><i>With ocean at beta release that might be unavailable online sometimes, issue transactions for detailed troubleshooting can be found at <a href="http://41.222.234.59/servicing/jobcard/tracking/${task}/">link</a></i>`


            $('#recipient').val(provider_email);
            $('#cc').val(cc);
            $('#subject').val(`Sneda Ghana Issues : ${title}`)
            $('#body').val(taskdesc)


        }

        class Service {
            pendingCards(){
                let payload = {
                    module:'service_report',
                    data:{
                        user:'*',
                        status:1,
                        from:'2023-01-01',
                        to:'2099-12-31'
                    }
                }

                let request = api.call('VIEW',payload,'/servicing/api/');

                if(anton.IsRequest(request)){
                    let message = request['message'];
                    console.table(message)
                    let tr = ''
                    for (let jb = 0; jb < message.length; jb++) {
                        let job = message[jb];
                        let cardno,date,description,service,technician,title;
                        cardno = job['cardno'];
                        date = job['date'];
                        description = job['description'].substring(0, 30);
                        technician = job['technician'];
                        title = job['title'];
                        let owner = job['owner'];
                        tr += `
                            <tr>
                                <td>${date}</td>
                                <td>${owner}</td>
                                <td><a onclick="loadJobCard('${cardno}')" href="javascript:void()">${title}</a></td>
                                <td>${description}</td>
                                <td>${technician}</td>
                            </tr>
                        `
                    }

                    let tab = `
                        <table class='table table-sm table-bordered'>
                            <thead><tr><th>DATE</th><th>OWNER</th><th>TITLE</th><th>DESCRIPTION</th><th>TECHNICIAN</th></tr></thead>
                            <tbody>${tr}</tbody>
                        </table>
                    `;
                    amodal.setTitleText("PENDING JOBS");
                    amodal.setBodyHtml(tab);
                    amodal.setSize('L');
                    amodal.show();
                } else {
                    kasa.error("Invalid Response")
                }
            }
        }
        const svc = new Service()

    </script>

{% endblock %}