
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>505 - System Error</title>
    <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'general/css/recorder.css' %}" rel="stylesheet">
    <link rel="manifest" href="{% static 'general/manifest.json' %}">
</head>
<body>
    <div class="container-fluid d-flex flex-wrap justify-content-center align-content-center" style="height: 100vh !important">
        <div class="text-center">
            <h1 class="display-1">E500</h1>
            <p>There is an internal error</p>
            <form action="{% url 'log_500' %}" method="POST">
                {% csrf_token %}
                <label for="path">PATH</label><input readonly type="text" name="path" id="path" class="form-control mb-2 rounded-0">
                <label for="what">What are you trying to do or access?</label><textarea name="what" id="what" cols="30" rows="5" class="form-control mb-2 rounded-0"></textarea>
                <button class="btn btn-success">REPORT</button>
            </form>

        </div>
    </div>
    <script>
        let page_url = location.pathname;
        document.getElementById('path').value = page_url
        console.table(location)
    </script>
</body>
</html>