{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="modal" id="newDepartment">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'save-department' %}" method="post" class="modal-body">
                    {% csrf_token %}
                    <label for="name">NAME OF DEPARTMENT</label><input required type="tel" class="form-control rounded-0 mb-2" autocomplete="off" name="name" id="name">
                    <hr>
                    <label for="name_of_head">NAME OF HEAD</label><input required type="text" class="form-control rounded-0 mb-2" autocomplete="off" name="name_of_head" id="name_of_head">
                    <label for="email_of_head">EMAIL OF HEAD</label><input required type="email" class="form-control rounded-0 mb-2" autocomplete="off" name="email_of_head" id="email_of_head">
                    <label for="phone_of_head">PHONE OF HEAD</label><input required type="tel" class="form-control rounded-0 mb-2" autocomplete="off" name="phone_of_head" id="phone_of_head">
                    <hr>
                    <label for="description">Description</label><textarea required name="description" id="description" cols="30" rows="5" class="form-control rounded-0"></textarea>

                    <button class="btn mt-2 btn-success">SAVE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="w-100 h-100">

        <div class="container-fluid p-0" style="height: 75vh; overflow: hidden">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Users</strong>
                        </div>

                        <div class="card-header">
                            <button data-bs-target="#newUser" data-bs-toggle="modal" class="btn btn-sm btn-info" style="height: fit-content">NEW USER</button>
                            <div id="newUser" class="modal fade">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <strong class="modal-title">Creating User</strong>
                                        </div>

                                        <div class="modal-body p-2">
                                            <form action="{% url 'create_account' %}" method="post">
                                                {% csrf_token %}


                                                <input type="hidden" name="password" value="1111111">




                                                <div class="container">


                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="first_name">First Name</label><input name="first_name" type="text" class="form-control" id="first_name" value="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="last_name">Last Name</label><input name="last_name" type="text" class="form-control" id="last_name" value="">
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="company">Company</label><input name="company" type="text" class="form-control" id="company" value="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="position">Position</label><input name="position" type="text" class="form-control" id="position" value="">
                                                            </div>
                                                        </div>


                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="email">Email</label><input name="email" type="email" class="form-control" id="email" value="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="mobile">Phone</label><input name="mobile" type="text" class="form-control" id="mobile" value="">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="notify">NOTIFICATION</label><select name="notify" id="notify" class="form-control mb-2">
                                                                    <option value="NO">NO</option>
                                                                    <option value="YES">YES</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <button class="btn btn-success w-100 h-100">REGISTER</button>
                                                            </div>
                                                        </div>

                                                    </div>




                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">

                            <table class="table mb-0 table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>First Name</th><th>Last Name</th><th>Username</th><th>Status</th><th>Last Login</th><th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for this_user in users %}
                                        <tr style="cursor: pointer;">
                                            <td>{{ this_user.first_name }}</td>
                                            <td>{{ this_user.last_name }}</td>
                                            <td>{{ this_user.username}}</td>
                                            <td><span class="text-success">ac</span></td>
                                            <td>{{ this_user.last_login }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <span data-toggle="dropdown" class="bx bx-collapse-horizontal"></span>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item text-danger" onclick="user.Delete('{{ this_user.pk }}')" href="javascript:void(0)">Disable</a>
                                                        <a class="dropdown-item text-warning" onclick="user.resetPassword('{{ this_user.pk }}')" href="javascript:void(0)">Reset Password</a>
                                                        <a class="dropdown-item text-secondary" data-bs-target="#chgDept{{ this_user.pk }}" data-bs-toggle="modal" href="javascript:void(0)">Department Set</a>
                                                        <a class="dropdown-item text-primary" onclick="location.href='{% url 'user_permissions' this_user.username %}'"  href="javascript:void(0)">UAL</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <div class="modal" id="chgDept{{ this_user.pk }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content p-2">
                                                    <div class="modal-header"><strong class="modal-title">CHANGE DEPARTMENT FOR {{ this_user.first_name }} {{ this_user.last_name }}</strong></div>
                                                    <form method="post" action="{% url 'set_department' %}" class="modal-body">
                                                    {% csrf_token %}
                                                        <input type="hidden" name="user" value="{{ this_user.pk }}">
                                                        <label for="dept" class="">DEPARTMENT</label>
                                                        <select name="dept" id="dept" class="form-control rounded-0">
                                                            {% for dep in depts %}
                                                                <option value="{{ dep.pk }}">{{ dep.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <hr>
                                                        <button class="btn btn-success m-2">COMMIT</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">DEPARTMENTS</strong> <button data-bs-toggle="modal" data-bs-target="#newDepartment" class="btn btn-sm btn-info">ADD</button>
                        </div>
                        <div class="card-body p-1">
                            <ul>
                                {% for dept in depts %}
                                <li><i title="delete" class="fa fa-recycle text-danger pointer"></i> {{ dept.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">O_MEMBERS</strong>
                        </div>
                        <div class="card-header">
                            <form action="{% url 'save_um' %}" method="post">
                            {% csrf_token %}
                                            <input type="hidden" name="owner" value="{{ user.pk }}" class="hidden">
                              <div class="row">
                                <div class="col">
                                    <select name="ou" id="" class="form-control form-control-sm">
                                        <option selected disabled>SELECT OU</option>
                                        {% for ou in ous %}
                                            <option value="{{ ou.pk }}">{{ ou.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                  <input type="text" autocomplete="off" class="form-control form-control-sm" placeholder="Name" name="name">
                                </div>
                                  <div class="col">
                                  <input type="submit" class="btn btn-sm btn-success w-100 h-100" >
                                </div>
                              </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>OU</th>
                                            <th>NAME</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for mem in unit_membs %}
                                            <tr>
                                                <td>{{ mem.ou.name }}</td>
                                                <td>{{ mem.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">O_UNITS</strong>
                        </div>

                        <div class="card-header">
                            <button data-bs-target="#newOU" data-bs-toggle="modal" class="btn btn-sm btn-info">NEW</button>
                            <div class="modal fade" id="newOU">
                                <div class="modal-dialog">
                                    <form method="post" action="{% url 'save_ou' %}" class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-title">Create New OU</span>
                                        </div>
                                        <div  class="modal-body p-2">


                                            {% csrf_token %}
                                            <input type="hidden" name="owner" value="{{ user.pk }}" class="hidden">
                                            <label class="w-100">Name
                                                <input type="text" required name="name" autocomplete="off" class="form-control mb-2 form-control-sm">
                                            </label>
                                            <label for="">Description</label><br><textarea required name="description" id="" cols="30" rows="5"
                                                                            class="form-control form-control-sm"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" data-bs-dismiss="modal" type="button">CANCEL</button>
                                            <button class="btn btn-success" type="submit">SAVE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>OU</th>
                                            <th>CREATED_BU</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ou in ous %}
                                            <tr>
                                                <td>{{ ou.name }}</td>
                                                <td>{{ ou.description }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>




    </div>

{% endblock %}