{% extends 'blog/base.html' %}
{% load static %}

{% block body %}

    <div class="container pt-5">
        <div class="row no-gutters">
            {% for video in videos %}
            <div class="col-sm-4">
                <!-- Card -->
                <div class="m-2 shadow">

                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top custom_shadow" src="{% static 'general/videos/' %}{{ video.key }}.jpg"
                          alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title ellipsis">{{ video.title }}</h4>
                        <!-- Text -->
                        <p class="card-text font-weight-lighter">{{ video.descr | safe | slice:':50' }}</p>

                          <a href="{% url 'watch' video.key %}" class="btn btn-info rounded-0 w-100">WATCH</a>
why
                      </div>

                    </div>
                <!-- Card -->
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}