{% extends 'blog/base.html' %}
{% load static %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            {% for video in videos %}
                <div  class="col-sm-3 col-md-6 col-lg-4 p-2 mb-2">

                    <!-- Card -->
                    <div class="card p-2 mb-5 shadow">

                      <!-- Card image -->
                      <div class="view overlay">
                        <img class="card-img-top custom_shadow" src="{% static 'general/videos/' %}{{ video.key }}.jpg"
                          alt="Card image cap">

                      </div>

                      <!-- Card content -->
                      <div class="card-body">

                        <!-- Title -->
                        <h6 class="card-title ellipsis">{{ video.title }}</h6>
                        <!-- Text -->
                        <p class="card-text font-weight-lighter">{{ video.descr | safe | slice:':50' }}</p>
                        <!-- Button -->
                        <a href="{% url 'watch' video.key %}" class="btn btn-primary rounded-0 w-100">WATCH</a>

                      </div>

                    </div>
                    <!-- Card -->

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}