{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div style="height: 90vh !important" class="w-100 card overflow-hidden p-2">

        <div class="w-100 h-50 p-2">
            <div class="container-fluid h-100 overflow-hidden">
                <div class="row h-100 overflow-hidden">

                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">

                            <div class="card-header">
                                <div class="w-100 h-100 d-flex flex-wrap">
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center">
                                        <h5 class="card-title">Messages Que</h5>
                                    </div>
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center justify-content-end">
                                        <button onclick="sms.newSms()" class="btn btn-info">NEW SMS</button>
                                    </div>

                                    <form method="post" enctype="multipart/form-data" action="{% url 'bulk_sms' %}" id="bulkSms" class="modal fade">
                                        {% csrf_token %}
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <strong class="modal-title">SEND SMS</strong>
                                                    <a target="_blank" href="https://www.dropbox.com/s/rzk209mvbix9nb0/ocean_message_contact_list.csv?dl=0" class="close">Download Template</a>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="api">API</label>
                                                    <select name="api" id="api" class="form-control mb-2">
                                                        {% for api in apis %}
                                                            <option value="{{ api.pk }}">{{ api.sender_id }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="file" accept="text/csv" name="file" class="form-control">

                                                    <label for="message">Message</label><textarea name="message" id="message" cols="30" rows="5"
                                                                                           class="form-control"></textarea>

                                                    <input type="hidden" name="owner" value="{{ user.pk }}" class="hidden">

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-warning" type="button" data-bs-dismiss="modal"><i class="bi bi-window-x"></i></button>
                                                    <button onclick="sms.QueSMS()" class="btn btn-success"><i class="bi bi-send-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>

                            <div class="card-body overflow-auto p-2">
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Timestamp</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody id="smsBody">
                                        <tr data-bs-target="#msag" data-bs-toggle="modal">
                                            <td>SNEDA SHOP</td>
                                            <td>0201998184</td>
                                            <td>2022-01-01 18:19:00</td>
                                            <td><i class="bi bi-send text-success"></i></td>
                                        </tr>
                                        <div class="modal fade" id="msag">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            From SNEDA to 0201998184
                                                        </h5>
                                                    </div>

                                                    <div class="modal-body">

                                                        <div class="w-100 mb-2 container">
                                                            <div class="row w-100">
                                                                <div class="col-sm-4">
                                                                    <button disabled class="btn btn-success">STATUS</button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="w-100"><small class="w-100"><span>Queued On : </span><i class="text-info">hwllo</i></small></div>
                                                                    <div class="w-100"><small class="w-100"><span>Last Tried :</span><i class="text-info">world</i></small></div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <hr>

                                                        <div class="card">

                                                            <div class="card-body">
                                                                <h5 class="card-title">Message</h5>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus doloribus eum ipsum iure laborum mollitia nesciunt, quibusdam, sapiente sunt suscipit tempora veniam veritatis! Alias doloremque impedit natus optio similique?
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>

                    <!-- TOOL STATUS -->
                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="card-title">Server Status</h5>
                            </div>

                            <div class="card-body">

                                <div id="trafficChart" style="min-height: 400px;" class="echart"></div>



                                </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- TOOLS -->
        <div class="w-100 h-50 p-2">
            <div class="container-fluid h-100 overflow-hidden">
                <div class="row h-100 overflow-hidden">


                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">

                            <div class="card-header">
                                <div class="w-100 h-100 d-flex flex-wrap">
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center">
                                        <strong class="card-title">APIs</strong>
                                    </div>
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center justify-content-end">
                                        <button data-bs-target="#newMsgApi" data-bs-toggle="modal" class="btn btn-info rounded-0">NEW</button>
                                        <form action="{% url 'new_sms_api' %}" method="post" class="modal fade" id="newMsgApi">
                                            {% csrf_token %}
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            NEW API KEY
                                                        </h5>
                                                    </div>

                                                    <div class="modal-body">
                                                        <input type="hidden" name="owner" value="{{ user.pk }}">
                                                        <label for="sender_id">SENDER ID</label><input type="text" autocomplete="off" name="sender_id" id="sender_id" required class="form-control rounded-0 mb-2">
                                                        <label for="api_key">API KEY</label><input type="text" autocomplete="off" name="api_key" id="api_key" required class="form-control rounded-0 mb-2">
                                                        <label for="api_desc">Description</label><textarea name="api_desc" required id="api_desc" cols="30" rows="3"
                                                                                                class="form-control rounded-0"></textarea>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button class="btn btn-warning" type="button" data-bs-dismiss="modal">CANCEL</button>
                                                        <button class="btn btn-success">SAVE</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="smsBody" class="card-body overflow-auto p-2">
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody id="smsTble">
                                        <tr data-bs-target="#msag" data-bs-toggle="modal">
                                            <td>SNEDA SHOP</td>
                                            <td>0201998184</td>
                                            <td><div class="w-100 d-flex flex-wrap">
                                                <button class="btn btn-sm btn-danger rounded-0">DEL</button>
                                                <button onclick="sms.updateApi()" class="btn btn-sm btn-warning rounded-0">UPDATE</button>
                                            </div></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <script>

        sms.loadAllSmsScreens()

    </script>

{% endblock %}