{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div style="height: 90vh !important" class="w-100 card overflow-hidden p-2">

        <div class="w-100 h-50 p-2">
            <div class="container-fluid h-100 overflow-hidden">
                <div class="row h-100 overflow-hidden">

                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">

                            <div class="card-header">
                                <h5 class="card-title">Messages Que</h5>
                            </div>

                            <div class="card-body overflow-auto p-2">
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Timestamp</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr data-bs-target="#msag" data-bs-toggle="modal">
                                            <td>SNEDA SHOP</td>
                                            <td>0201998184</td>
                                            <td>2022-01-01 18:19:00</td>
                                            <td><i class="bi bi-send text-success"></i></td>
                                        </tr>
                                        <div class="modal fade" id="msag">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            From SNEDA to 0201998184
                                                        </h5>
                                                    </div>

                                                    <div class="modal-body">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>

                    <!-- TOOL STATUS -->
                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="card-title">Server Status</h5>
                            </div>

                            <div class="card-body">

                                <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                                      <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                          echarts.init(document.querySelector("#trafficChart")).setOption({
                                            tooltip: {
                                              trigger: 'item'
                                            },
                                            legend: {
                                              top: '5%',
                                              left: 'center'
                                            },
                                            series: [{
                                              name: 'Access From',
                                              type: 'pie',
                                              radius: ['40%', '70%'],
                                              avoidLabelOverlap: false,
                                              label: {
                                                show: false,
                                                position: 'center'
                                              },
                                              emphasis: {
                                                label: {
                                                  show: true,
                                                  fontSize: '18',
                                                  fontWeight: 'bold'
                                                }
                                              },
                                              labelLine: {
                                                show: false
                                              },
                                              data: [{
                                                  value: 1048,
                                                  name: 'Queued'
                                                },
                                                {
                                                  value: 735,
                                                  name: 'Sent'
                                                },
                                                {
                                                  value: 735,
                                                  name: 'Failed'
                                                }
                                              ]
                                            }]
                                          });
                                        });
                                          </script>

                                </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- TOOLS -->
        <div class="w-100 h-50 p-2">
            <div class="container-fluid h-100 overflow-hidden">
                <div class="row h-100 overflow-hidden">


                    <div class="col-sm-6 p-2 h-100 overflow-hidden">
                        <div class="card h-100">

                            <div class="card-header">
                                <div class="w-100 h-100 d-flex flex-wrap">
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center">
                                        <strong class="card-title">APIs</strong>
                                    </div>
                                    <div class="w-50 h-100 d-flex flex-wrap align-content-center justify-content-end">
                                        <button data-bs-target="#newMsgApi" data-bs-toggle="modal" class="btn btn-info rounded-0">NEW</button>
                                        <form action="{% url 'new_sms_api' %}" method="post" class="modal fade" id="newMsgApi">
                                            {% csrf_token %}
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            NEW API KEY
                                                        </h5>
                                                    </div>

                                                    <div class="modal-body">
                                                        <input type="hidden" name="owner" value="{{ user.pk }}">
                                                        <label for="sender_id">SENDER ID</label><input type="text" autocomplete="off" name="sender_id" id="sender_id" required class="form-control rounded-0 mb-2">
                                                        <label for="api_key">API KEY</label><input type="text" autocomplete="off" name="api_key" id="api_key" required class="form-control rounded-0 mb-2">
                                                        <label for="api_desc">Description</label><textarea name="api_desc" required id="api_desc" cols="30" rows="3"
                                                                                                class="form-control rounded-0"></textarea>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button class="btn btn-warning" type="button" data-bs-dismiss="modal">CANCEL</button>
                                                        <button class="btn btn-success">SAVE</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="smsBody" class="card-body overflow-auto p-2">
                                <table class="table table-sm table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody id="smsTble">
                                        <tr data-bs-target="#msag" data-bs-toggle="modal">
                                            <td>SNEDA SHOP</td>
                                            <td>0201998184</td>
                                            <td><div class="w-100 d-flex flex-wrap">
                                                <button class="btn btn-sm btn-danger rounded-0">DEL</button>
                                                <button onclick="sms.updateApi()" class="btn btn-sm btn-warning rounded-0">UPDATE</button>
                                            </div></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <script>
        sms.loadScreen()
    </script>

{% endblock %}