{% extends 'dashboard/products/prod_base.html' %}
{% load static %}

{% block prod %}
    <div  class="w-100 h-100 card">

        <div class="card-header">
            <div class="w-100 h-100 d-flex flex-wrap">
                <div class="w-50 h-100"></div>
                <div class="w-50 h-100 d-flex flex-wrap justify-content-end">
                    <button data-bs-toggle="modal" data-bs-target="#newAsset" class="btn btn-info">NEW DESK</button>
                    <div class="modal fade" id="newAsset">
                        <div class="modal-dialog modal-lg">
                            <form method="post"  action="{% url 'save_workstation' %}" class="modal-content">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <strong class="modal-title">New Asset</strong>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">

                                            <!-- owner -->
                                            <div class="col-sm-12 mb-2">
                                                <label for="owner">User</label><br>
                                                <select name="sys_uni" id="owner" class="form-control form-control-sm rounded-0">
                                                    {% for mem in mems %}
                                                        <option value="{{ mem.pk }}">{{ mem.ou.name }} | {{ mem.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- sys_uni -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="sys_uni">System Unit</label><br>
                                                <select name="sys_uni" id="sys_uni" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- monitor -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="monitor">Monitor</label><br>
                                                <select name="monitor" id="monitor" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- keyboard -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="keyboard">Keyboard</label><br>
                                                <select name="keyboard" id="keyboard" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- mouse -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="mouse">Mouse</label><br>
                                                <select name="mouse" id="mouse" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- printer -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="printer">Printer</label><br>
                                                <select name="printer" id="printer" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- ups -->
                                            <div class="col-sm-6 mb-2">
                                                <label for="ups">UPS</label><br>
                                                <select name="ups" id="ups" class="form-control form-control-sm rounded-0">
                                                    {% for ass in assets %}
                                                        <option value="{{ ass.pk }}">{{ ass.descr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-warning">CANCEL</button>
                                    <button type="submit" class="btn btn-success">SAVE</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-2">
            <div class="container-fluid p-0">
                <div class="w-100 h-100">
                    <div class="card recent-sales overflow-auto">



                        <div class="card-body">


                          <table class="table table-borderless datatable">
                            <thead>
                              <tr>
                                <th scope="col">OWNER</th>
                                <th scope="col">SYS_UNIT</th>
                                <th scope="col">NETWORK</th>
                                <th scope="col">RAM / STORAGE</th>
                                  <th>ACTION</th>
                              </tr>
                            </thead>
                            <tbody id="devsBody">
                                {% for ws in wst %}
                                  <tr>
                                    <td>Brandon Jacob</td>
                                    <td><a href="#" class="text-primary">At praesentium minu</a></td>
                                    <td>$64</td>
                                      <td>Hello / World</td>
                                    <td><span class="badge bg-success">Approved</span></td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                          </table>

                        </div>

                      </div>
                </div>
            </div>
        </div>

        <div class="card-footer"></div>

    </div>

    <script>
        let data = {
            'module':'dev_mgmt',
            'data':{
                'pk':'*'
            }
        }

        // get devices
        let devices = api.view(data)

        if(isJson(JSON.stringify(devices))){
            // get pats
            let status_code,status,message
            status_code = devices['status_code']
            status = devices['status']
            message = devices['message']

            if(status_code === 200){
                // get device details
                let count, devs
                count = message['count']
                devs = message['devices']

                if(count > 0){
                    let devs_row = ''
                    // load devices
                    for (let d = 0; d < count; d++) {
                        let dev = devs[d]
                        let system = dev['system']
                        let network = dev['network']
                        let ram = dev['ram']
                        let storage = dev['storage']
                        devs_row += `<tr>
                                    <td>${system['logged_on_user']}</td>
                                    <td>${system['model']}</td>
                                    <td>${network['ip_address']}</td>
                                      <td>${ram['ram_size']} / ${storage['size']}</td>
                                    <td><span class="badge bg-success"><a href="/inventory/workstation/view/${network['mac_address']}/">DETAILS</a></span></td>
                                  </tr>`
                        ctable(dev)
                    }
                    $('#devsBody').html(devs_row)

                }  else {
                    alert("NO DEVICES FOUND")
                }
            }


        } else {
            al('warning','INVALID RESPONSE TYPE')
        }

    </script>
{% endblock %}