{% extends 'base.html' %}
{% load static %}


{% block body  %}
    <div class="card-header">
        <div class="w-100 d-flex">
            <div class="w-50"></div>
            <div class="w-50 d-flex flex-wrap justify-content-end">
                <button onclick="app.new_app_screen(`{{ html.providers_options }}`,`{{ md }}`)" class="btn btn-info"><i class="fa fa-plus"></i> APP</button>
            </div>
        </div>
    </div>
    <div class="card-body p-2">

        <div class="container p-1 h-100">

            <div class="row no-gutter pb-2 h-50">
                <div class="col-sm-6 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="w-100 d-flex flex-wrap">
                                <div class="w-50 h-100"><strong class="card-title">Providers</strong></div>
                                <div class="w-50 h-100 d-flex flex-wrap justify-content-end align-content-center">
                                    <button onclick="apps.new_provider_screen()" class="btn btn-info"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th>LOCATION</th>
                                            <th>CONTACT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for provider in providers %}
                                            <tr>
                                                <td>{{ provider.name }}</td>
                                                <td>{{ provider.country }} <br> {{ provider.city }}</td>
                                                <td>
                                                    <a href="tel:{{ provider.phone }}"><i class="fa fa-phone"></i> {{ provider.phone }}</a><br>
                                                    <a href="mailto:{{ provider.email }}"><i class="fa fa-envelope"></i> {{ provider.email }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-gutter h-50">
                {% for app in apps %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body p-2 d-flex flex-wrap align-content-center">
                                <div class="w-25">
                                    <img style="height: 50px; width: 50px"
                                         src="{{ app.logo.url }}" alt="" class="img-fluid">
                                </div>
                                <div class="w-75 pl-2">
                                    <strong>{{ app.name }}</strong><br>
                                    <p class="ellipsis">{{ app.description }}</p>
                                </div>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between">
                                <a onclick="location.href='{% url 'app' app.pk %}'" href="javascript:void(0)" class="btn btn-primary text-center">PREVIEW</a>
                                <a href="javascript:void(0)" onclick="location.href='{{ app.file.url }}'" class="btn btn-info text-center">DOWNLOAD</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script>
        class Apps{
            new_provider_screen(){
                let form = `
                    <label for="name">NAME</label>
                    <input type="text" class="form-control mb-2 rounded-0" id="name" />

                     <label for="description">DESCRIPTION</label>
                    <textarea name="" id="description" cols="30" rows="3" class="form-control rounded-0 mb-2"></textarea>

                     <label for="email">EMAIL</label>
                    <input type="email" class="form-control mb-2 rounded-0" id="email" />

                     <label for="phone">PHONE</label>
                    <input type="text" class="form-control mb-2 rounded-0" id="phone" />

                     <label for="country">COUNTRY</label>
                    <input type="text" class="form-control mb-2 rounded-0" id="country" />

                    <label for="city">COUNTRY</label>
                    <input type="text" class="form-control mb-2 rounded-0" id="city" /> <hr>
                    <button onclick="apps.saveProvider()" class="btn btn-success w-100">REGISTER</button>
                `;

                amodal.setTitleText("REGISTER PROVIDER");
                amodal.setBodyHtml(form);
                amodal.show()
            }

            saveProvider() {
                let ids = ['name','description','email','phone','country','city','mypk'];
                if(anton.validateInputs(ids)){
                    let data = anton.Inputs(ids);
                    let payload = {
                        'module':'provider',
                        data:data
                    };
                    let response = api.call('PUT',payload,'/appscenter/api/');
                    kasa.confirm(response['message'],1,'here')
                } else {
                    kasa.error("Please fill form")
                }
            }
        }

        const apps = new Apps();
    </script>

{% endblock %}