{% extends 'base.html' %}
{% load static %}


{% block body  %}
    <div id="appGroups" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">APP GROUPS</strong>
                </div>
            </div>
        </div>
    </div>

    <div id="newApp" class="modal fade">
        <form class="modal-dialog" action="{% url 'save-new-app' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">APP GROUPS</strong>
                </div>
                <div class="modal-body">
                    <label for="group">App Group</label><select name="group" id="group" class="form-control mb-2 rounded-0">
                        {% for group in appgroups %}
                            <option value="{{ group.pk }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>

                    <label class="w-100">App NAme
                        <input type="text" name="name" autocomplete="off" class="form-control rounded-0 mb-2" required>
                    </label>

                    <label for="description">Description</label><textarea name="description" id="description" cols="30" rows="5" class="form-control mb-2 rounded-0"></textarea>

                    <input type="file" accept="image/*" name="icon" id="icon" class="form-control mb-2">

                    <label class="w-100">App Path
                        <input type="text" name="root" autocomplete="off" class="form-control rounded-0 mb-2" required>
                    </label>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="w-100 btn btn-success">REGISTER</button>
                </div>

            </div>
        </form>
    </div>

    <div class="w-100 container overflow-hidden" style="height: 85vh">
        <!-- TOOLS -->
        <div class="w-100 h-50 p-2 overflow-hidden">
            <div class="card h-100">
                <div class="card-body p-2 h-100">
                    <div class="w-100 row">
                        <div class="col-sm-2">
                            <button data-bs-target="#appGroups" data-bs-toggle="modal" class="btn h-100 btn-info p-5 w-100">
                                APP GROUP
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button data-bs-target="#newApp" data-bs-toggle="modal" class="btn h-100 btn-info p-5 w-100">
                                REGISTER APP
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- APPS -->
        <div class="h-50 w-100 p-2 overflow-hidden">
            <div class="card h-100">
                <div class="card-header">
                    <span class="card-title">APPS</span>
                </div>
                <div class="card-body overflow-auto">
                    <table class="table table-sm">
                        <thead>
                            <tr><td>GROUP</td><td>NAME</td><td>VERSION</td><td>ACTION</td></tr>
                        </thead>
                        <tbody>
                            {% for app in apps %}
                                <tr>
                                    <td>{{ app.group.name }}</td>
                                    <td>{{ app.name }}</td>
                                    <td>{{ app.version }}</td>
                                    <td><button onclick="location.href='{% url 'app' app.pk %}'" class="btn btn-info btn-sm">VIEW</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}